@media only screen and (min-width: 500px) {

// tags
.M_tag_default {
  height: 2.2vw;
  width: 12vw;
  font-family: Helvetica;
  font-size: 1.1vw;
  font-weight: normal;
  font-style: normal;
  border-radius: 0.21vw;
  background-color: var(--purple);
  padding: 0.5vw;
  text-align: center;
  color: var(--blue);

  // .A_tag_text {
  //   text-align: center;
  //   padding-top: 0.42vw;
  //   padding-bottom: 0.42vw;
  //   padding-left: 1.04vw;
  //   padding-right: 1.04vw;
  // }
}
.M_tag_default:hover {
  background-color: var(--deep_purple);
}

.M_tag_default:active {
  background-color: var(--deep_purple);
}

// images
.M_searchbar {
  display: inline-flex;
  height: 2.14vw;
  width: 15.28vw;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.15vw solid var(--blue);
}

.M_cardFlip {
  background-image: url('images/M_cardFlip.png');
  background-size: cover;
  width: 27.92vw;
  height: 30.69vw;
}

.M_AvatarInfluencer {
  display: flex;
  flex-direction: column;
  width: 4.1vw;
  height: 6.6vw;
  align-items: center;

  .A_round-A_avatar_image {
    padding-top: 1.04vw;
  }

  .A_avatar_name {
    padding-top: 0.42vw;
  }
}

.M_article_oval_framed_image_with_text {
  // &.var1 {
  // width: 25.83vw;
  // height: 30.7vw;
  // }
  // &.var2 {
  width: 34.03vw;
  height: 34.03vw;
  // }

  .A_ArticleRectangleFramedImage {
    position: absolute;
    z-index: 1;
  }

  .A_avatar_name {
    position: absolute;
    top: 21.09vw;
    left: 16.51vw;
    z-index: 2;
  }
}

.M_article_oval_framed_image_with_text_default_turnover {
  width: 26.46vw;
  height: 31.53vw;

  .A_ArticleRectangleFramedImage {
    position: absolute;
    z-index: 1;
  }

  .A_avatar_name {
    position: absolute;
    top: 1.25vw;
    left: 22.5vw;
    z-index: 2;
  }
}

.M_article_round_framed_image_with_number {
  width: 22.15vw;
  height: 22.15vw;

  .A_article_round_framed_image {
    position: absolute;
    z-index: 1;
  }

  .A_avatar_name {
    position: absolute;
    top: 19.79vw;
    left: 18.54vw;
    z-index: 2;
  }
}

.M_article_image_gallery {
  display: flex;
  flex-direction: column;
  width: 26.18vw;
  height: 40.07vw;

  .Q_article_square_image {
    margin: auto;
  }

  .A_article_square_image_text {
    padding-top: 1.39vw;
  }
}

.M_article_number {
  width: 22.64vw;
  height: 237.22vw;

  .Q_little_text_number_stroke {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_PhotoNumber {
    position: absolute;
    z-index: 2;
    padding-top: 8.33vw;
    padding-left: 7.71vw;
  }
}

.M_three_images_with_number {
  width: 43.26vw;
  height: 22.99vw;

  .A_three_framed_oval_images {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
  }

  .A_section_card_number_hastag {
    position: absolute;
    top: 3.06vw;
    left: 34.44vw;
    z-index: 2;
  }
}

.M_two_images_with_numbers {
  width: 27.01vw;
  height: 17.99vw;

  .A_two_framed_oval_images {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
  }

  .A_section_card_number_hastag {
    position: absolute;
    top: 2.08vw;
    left: 18.68vw;
    z-index: 2;
  }
}

.M_round_card_image_with_number {
  width: 19.1vw;
  height: 19.1vw;

  .Q_round_card_image {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 0.49vw;
    padding-left: 13.47vw;
  }
}

.M_vertical_oval_card_image_with_number {
  width: 14.58vw;
  height: 18.75vw;

  .Q_vertical_oval_card_image {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 0.56vw;
    padding-left: 8.75vw;
  }
}

.M_horizontal_oval_card_image {
  width: 27.01vw;
  height: 16.04vw;

  .Q_horizontal_oval_card_image {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 0;
    padding-left: 19.51vw;
  }
}

.M_thin_horizontal_card_image {
  width: 27.08vw;
  // height: 12.78vw;
  position: relative;
  margin: auto;

  .Q_horizontal_oval_card_image {
    position: absolute;
    margin: 0 auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    // padding-top: 0.69vw;
    // padding-left: 21.81vw;
  }
}

.M_bigger_thin_horizontal_card_image {
  width: 43.26vw;
  height: 24.72vw;

  .Q_big_image_with_oval {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 4.79vw;
    padding-left: 34.17vw;
  }
}

.M_square_card_image_with_number {
  width: 20vw;
  height: 23.06vw;

  .Q_horizontal_oval_card_image {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 0.9vw;
    padding-left: 16.25vw;
  }
}

.M_oval_flip_image {
  width: 19.93vw;
  height: 33.89vw;

  .A_oval_image_on_rectangle {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 29.51vw;
    padding-left: 15.97vw;
  }
}

.M_turn_over_card_image {
  width: 19.93vw;
  height: 33.89vw;

  .Q_FlippedCardImage {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 30.07vw;
    padding-left: 16.04vw;
  }
}

.M_oval_flip_image {
  width: 19.93vw;
  height: 33.89vw;

  .A_oval_image_on_rectangle {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 29.51vw;
    padding-left: 15.97vw;
  }
}

.M_mainNumber {
  width: 20.49vw;
  height: 19.79vw;

  .Q_mainNumberOutline {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_PhotoNumber {
    position: absolute;
    z-index: 2;
    padding-top: 5.07vw;
    padding-left: 7.78vw;
  }
}

.M_404page {
  height: 26.39vw;
  width: 67.01vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .A_PhotoNumber {
    top: 0.01vw;
  }

  .Q_vertical_oval_card_image {
    top: 0.01vw;
  }

  .A_PhotoNumber {
    top: 0.01vw;
  }
}

.M_testVariant {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .Q_Checkbox {
    padding-left: 0;
  }

  .A_test_variant {
    padding-left: 0.69vw;
  }
}

.M_testVariant {
  display: flex;
  flex-direction: column;

  .Q_Checkbox {
    padding-left: 0;
  }

  .A_form_note {
    padding-left: 0.69vw;
  }
}

.M_FormSignature {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .A_form_note {
    padding-left: 0.69vw;
  }

  .Q_Line {
    padding-top: 0.76vw;
  }
}

#M_article_text {
  display: flex;
  gap: 1vw;
  flex-direction: column;
}

.M_test_numeration {
  width: 16.32vw;
  height: 5.07vw;

  .Q_test_counter_stroke {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_PhotoNumber {
    position: absolute;
    z-index: 2;
    padding-top: 1.39vw;
    padding-left: 3.68vw;
  }
}

.M_test_result_heading {
  width: 13.4vw;
  height: 4.72vw;

  .Q_test_counter_stroke_smaller {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_test_result_heading {
    position: absolute;
    z-index: 2;
    padding-top: 1.46vw;
    padding-left: 2.85vw;
  }
}

.M_popup {
  height: 7.08vw;
  width: 23.61vw;
  border-radius: 6.94vw;
  border: 0.14vw var(--blue);

  .A_popupText {
    text-align: center;
    padding-top: 2.08vw;
    padding-bottom: 2.08vw;
  }
}

.M_article_image_signature_with_line {
  height: 2.5vw;
  width: 24.89vw;
  display: flex;
  flex-direction: column;

  .A_article_image_signature {
    text-align: center;
    margin: auto;
  }

  .Q_Line {
    margin: auto;
  }
}

.M_section_description {
  height: 3.68vw;
  width: 89.86vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  // .Q_Line {
  //   padding-top: 1.74vw;
  // }

  .A_section_signature {
    text-align: center;
    margin: auto;
  }
}

.M_article_recommedation_with_lines {
  height: 5.69vw;
  width: 92.85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .Q_Line {
    margin: auto;
  }

  .A_article_recommendation {
    text-align: center;
    margin: auto;
  }
}

.M_BlockSeparator {
  height: 2.99vw;
  width: 93.06vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .A_article_recommendation {
    padding-left: 0;
  }
}

.M_404page {
  margin: 0 auto;
  margin-top: 3vw;
  width: 51.26vw;
  height: 24.17vw;
  margin-bottom: 1.5vw;
}
.M_filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
  align-items: center;
  width: 12vw;
  input {
    transform: scale(1.4);
  }
}
}

//мобилка
@media only screen and (max-width: 499px) {

// tags
.M_tag_default {
  height: 1.32vw;
  width: 8.15vw;
  border-radius: 0.21vw;
  background-color: var(--purple);
  padding: 0.25vw;
  text-align: center;
  color: var(--blue);

  // .A_tag_text {
  //   text-align: center;
  //   padding-top: 0.42vw;
  //   padding-bottom: 0.42vw;
  //   padding-left: 1.04vw;
  //   padding-right: 1.04vw;
  // }
}
.M_tag_default:hover {
  background-color: var(--deep_purple);
}

.M_tag_default:active {
  background-color: var(--deep_purple);
}

// images
.M_searchbar {
  display: inline-flex;
  height: 2.14vw;
  width: 15.28vw;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.15vw solid var(--blue);
}

.M_cardFlip {
  background-image: url('images/M_cardFlip.png');
  background-size: cover;
  width: 27.92vw;
  height: 30.69vw;
}

.M_AvatarInfluencer {
  display: flex;
  flex-direction: column;
  width: 4.1vw;
  height: 6.6vw;
  align-items: center;

  .A_round-A_avatar_image {
    padding-top: 1.04vw;
  }

  .A_avatar_name {
    padding-top: 0.42vw;
  }
}

.M_article_oval_framed_image_with_text {
  // &.var1 {
  // width: 25.83vw;
  // height: 30.7vw;
  // }
  // &.var2 {
  width: 34.03vw;
  height: 34.03vw;
  // }

  .A_ArticleRectangleFramedImage {
    position: absolute;
    z-index: 1;
  }

  .A_avatar_name {
    position: absolute;
    top: 21.09vw;
    left: 16.51vw;
    z-index: 2;
  }
}

.M_article_oval_framed_image_with_text_default_turnover {
  width: 26.46vw;
  height: 31.53vw;

  .A_ArticleRectangleFramedImage {
    position: absolute;
    z-index: 1;
  }

  .A_avatar_name {
    position: absolute;
    top: 1.25vw;
    left: 22.5vw;
    z-index: 2;
  }
}

.M_article_round_framed_image_with_number {
  width: 22.15vw;
  height: 22.15vw;

  .A_article_round_framed_image {
    position: absolute;
    z-index: 1;
  }

  .A_avatar_name {
    position: absolute;
    top: 19.79vw;
    left: 18.54vw;
    z-index: 2;
  }
}

.M_article_image_gallery {
  display: flex;
  flex-direction: column;
  width: 26.18vw;
  height: 40.07vw;

  .Q_article_square_image {
    margin: auto;
  }

  .A_article_square_image_text {
    padding-top: 1.39vw;
  }
}

.M_article_number {
  width: 22.64vw;
  height: 237.22vw;

  .Q_little_text_number_stroke {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_PhotoNumber {
    position: absolute;
    z-index: 2;
    padding-top: 8.33vw;
    padding-left: 7.71vw;
  }
}

.M_three_images_with_number {
  width: 43.26vw;
  height: 22.99vw;

  .A_three_framed_oval_images {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
  }

  .A_section_card_number_hastag {
    position: absolute;
    top: 3.06vw;
    left: 34.44vw;
    z-index: 2;
  }
}

.M_two_images_with_numbers {
  width: 27.01vw;
  height: 17.99vw;

  .A_two_framed_oval_images {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
  }

  .A_section_card_number_hastag {
    position: absolute;
    top: 2.08vw;
    left: 18.68vw;
    z-index: 2;
  }
}

.M_round_card_image_with_number {
  width: 19.1vw;
  height: 19.1vw;

  .Q_round_card_image {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 0.49vw;
    padding-left: 13.47vw;
  }
}

.M_vertical_oval_card_image_with_number {
  width: 14.58vw;
  height: 18.75vw;

  .Q_vertical_oval_card_image {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 0.56vw;
    padding-left: 8.75vw;
  }
}

.M_horizontal_oval_card_image {
  width: 27.01vw;
  height: 16.04vw;

  .Q_horizontal_oval_card_image {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 0;
    padding-left: 19.51vw;
  }
}

.M_thin_horizontal_card_image {
  width: 27.08vw;
  // height: 12.78vw;
  position: relative;
  margin: auto;

  .Q_horizontal_oval_card_image {
    position: absolute;
    margin: 0 auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    // padding-top: 0.69vw;
    // padding-left: 21.81vw;
  }
}

.M_bigger_thin_horizontal_card_image {
  width: 43.26vw;
  height: 24.72vw;

  .Q_big_image_with_oval {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 4.79vw;
    padding-left: 34.17vw;
  }
}

.M_square_card_image_with_number {
  width: 20vw;
  height: 23.06vw;

  .Q_horizontal_oval_card_image {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 0.9vw;
    padding-left: 16.25vw;
  }
}

.M_oval_flip_image {
  width: 19.93vw;
  height: 33.89vw;

  .A_oval_image_on_rectangle {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 29.51vw;
    padding-left: 15.97vw;
  }
}

.M_turn_over_card_image {
  width: 19.93vw;
  height: 33.89vw;

  .Q_FlippedCardImage {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 30.07vw;
    padding-left: 16.04vw;
  }
}

.M_oval_flip_image {
  width: 19.93vw;
  height: 33.89vw;

  .A_oval_image_on_rectangle {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_section_card_hastag {
    position: absolute;
    z-index: 2;
    padding-top: 29.51vw;
    padding-left: 15.97vw;
  }
}

.M_mainNumber {
  width: 20.49vw;
  height: 19.79vw;

  .Q_mainNumberOutline {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_PhotoNumber {
    position: absolute;
    z-index: 2;
    padding-top: 5.07vw;
    padding-left: 7.78vw;
  }
}

.M_404page {
  height: 26.39vw;
  width: 67.01vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .A_PhotoNumber {
    top: 0.01vw;
  }

  .Q_vertical_oval_card_image {
    top: 0.01vw;
  }

  .A_PhotoNumber {
    top: 0.01vw;
  }
}

.M_testVariant {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .Q_Checkbox {
    padding-left: 0;
  }

  .A_test_variant {
    padding-left: 0.69vw;
  }
}

.M_testVariant {
  display: flex;
  flex-direction: column;

  .Q_Checkbox {
    padding-left: 0;
  }

  .A_form_note {
    padding-left: 0.69vw;
  }
}

.M_FormSignature {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .A_form_note {
    padding-left: 0.69vw;
  }

  .Q_Line {
    padding-top: 0.76vw;
  }
}

#M_article_text {
  display: flex;
  gap: 1vw;
  flex-direction: column;
}

.M_test_numeration {
  width: 16.32vw;
  height: 5.07vw;

  .Q_test_counter_stroke {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_PhotoNumber {
    position: absolute;
    z-index: 2;
    padding-top: 1.39vw;
    padding-left: 3.68vw;
  }
}

.M_test_result_heading {
  width: 13.4vw;
  height: 4.72vw;

  .Q_test_counter_stroke_smaller {
    position: absolute;
    z-index: 1;
    margin: auto;
  }

  .A_test_result_heading {
    position: absolute;
    z-index: 2;
    padding-top: 1.46vw;
    padding-left: 2.85vw;
  }
}

.M_popup {
  height: 7.08vw;
  width: 23.61vw;
  border-radius: 6.94vw;
  border: 0.14vw var(--blue);

  .A_popupText {
    text-align: center;
    padding-top: 2.08vw;
    padding-bottom: 2.08vw;
  }
}

.M_article_image_signature_with_line {
  height: 2.5vw;
  width: 24.89vw;
  display: flex;
  flex-direction: column;

  .A_article_image_signature {
    text-align: center;
    margin: auto;
  }

  .Q_Line {
    margin: auto;
  }
}

.M_section_description {
  // height: 3.68vw;
  width: 89.86vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  // .Q_Line {
  //   padding-top: 1.74vw;
  // }

  .A_section_signature {
    text-align: center;
    margin: auto;
  }

  // .Q_Line {
  //   padding-top: 1.74vw;
  // }
}

.M_article_recommedation_with_lines {
  height: 5.69vw;
  width: 92.85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .Q_Line {
    margin: auto;
  }

  .A_article_recommendation {
    text-align: center;
    margin: auto;
  }
}

.M_BlockSeparator {
  // height: 2.99vw;
  width: 93.06vw;
  display: flex;
  // flex-direction: row;
  // justify-content: space-between;

  .A_article_recommendation {
    padding-left: 0;
  }

  // .Q_Line {
  //   padding-top: 1.46vw;
  //   padding-left: 2.01vw;
  // }
}

  .M_mobileMenuPoint {
    width: 83.33vw;
    height: 13.85vw;
    border: solid 0.14vw var(--blue);
    border-radius: 1.28vw;
    color: var(--blue);
    font-family: Helvetica;
    font-size: 6.67vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-style: normal;
    margin: 0 auto;
  }
.M_404page {
  margin: 0 auto;
  margin-top: 3vw;
  height: 44.39vw;
  width: 96.01vw;
  margin-bottom: 1.5vw;
}
.M_filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
  align-items: center;
  width: 12vw;
  input {
    transform: scale(1);
  }
}
}