.Q_Line {
    color: var(--blue);
    .longer {
        width: 36.60vw;
        height: 0.14vw;
    }
    .shorter {
        width: 17.57vw;
        height: 0.14vw;
    }
}

.Q_Vk {
    width: 3.13vw;
    height: 1.81vw;
    background-image: url('images/Q_Vk.png');
    background-size: cover;
}
.Q_Tg {
    width: 2.43vw;
    height: 2.01vw;
    background-image: url('images/Q_Tg.png');
    background-size: cover;
}
.Q_search_icon {
    width: 2.50vw;
    height: 1.18vw;
}

.Q_Checkbox {
    height: 2.57vw;
    width: 2.57vw;
    border-radius: 0.35vw;
    border: 0.14vw var(--blue);
}

.Q_arrow_landing {
    width: 12.99vw;
    height: 6.53vw;
}

.Q_burgerMenu {
    width: 2.50vw;
    height: 1.25vw;
}

.Q_article_square_image {
    width: 26.18vw;
    height: 37.01vw;
}

.Q_little_text_number_stroke {
    width: 15.69vw;
    height: 4.72vw;
}

.Q_round_card_image {
    width: 19.03vw;
    height: 19.03vw;
}

.Q_vertical_oval_card_image {
    width: 15vw;
    height: 18.54vw;
}

.Q_horizontal_oval_card_image {
    width: 27.01vw;
    height: 16.04vw;
}

.Q_square_card_image {
    width: 20vw;
    height: 23.06vw;
}

.Q_mainNumberOutline {
    width: 20.49vw;
    height: 19.79vw;
}

.Q_test_counter_stroke {
    width: 16.32vw;
    height: 5.07vw;
}

.Q_big_image_with_oval {
    width: 43.26vw;
    height: 24.72vw;
}

.Q_big_oval_image {
    width: 86.25vw;
    height: 23.13vw;
}

.Q_FlippedCardImage {
    width: 19.93vw;
    height: 33.89vw;
}

.s {
    width: 13.40vw;
    height: 4.72vw;
}
.Q_hse_logo {
    width: 11.41vw;
    height: 4.5vw;
    background-image: url('images/Q_hse_logo.png');
    background-size: cover;
}
.Q_line_menu {
    margin: 1.5vw;
    width: 88.48vw;
    height: 0.1vw;
    background-color: var(--blue);
}
.Q_rectangle_image {
    width: 43.26vw;
    height: 23.06vw;
    border-radius: 0.42vw;
}