@media only screen and (min-width: 1px) and (max-width: 500px) {
    body.about {
            background-color: #FFFBF7;
            h1 {
                    font-family: "BitumLightItalic";
                    font-style: italic;
                    font-weight: normal;
                    font-size: 6vw;
                    margin-left: 4vw;
                    margin-top: 12vw;
                }
            
                .splash {
                    width: 28vw;
                    height: 7vw;
                    background-color: #FFFBF7;
                    border: 0.4vw solid black;
                    margin-left: 41vw;
                    margin-top: -7vw;
            
                }
            
                .project {
                    width: 28vw;
                    height: 7vw;
                    background-color: #9FD3AD;
                    border: 0.4vw solid black;
                    margin-left: 68vw;
                    margin-top: -7vw;
            
                }
            
                a {
                    text-decoration: none;
                }
            
                .splashtext {
                    font-family: "HelveticaNeueCyrRoman";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 3.6vw;
                    margin-left: 3.9vw;
                    margin-top: 1.6vw;
                    text-decoration: none;
                    color: #000;
                }
            
                .projecttext {
                    font-family: "BitumLightItalic";
                    font-style: italic;
                    font-weight: normal;
                    font-size: 3.5vw;
                    margin-left: 4.3vw;
                    margin-top: 1.7vw;
                }
                    .square3 {
                        width: 81vw;
                        height: 47vw;
                        background-color: #FFFBF7;
                        border: 0.4vw solid black;
                        margin-left: 13vw;
                        margin-top: -42vw;
                
                    }
                
                                .square2 {
                                    width: 81vw;
                                    height: 47vw;
                                    background-color: #FFDAED;
                                    border: 0.4vw solid black;
                                    margin-left: 8vw;
                                    margin-top: -42vw;
                
                                }
                
                                .square:hover {
                                    background-color: #FFDAED;
                                    transition: all 0.5s ease-out;
                
                                }
                
                                .square2:hover {
                                    background-color: #FFFBF7;
                                    transition: all 0.5s ease-out;
                
                                }
                
                                .splash:hover {
                                    background-color: #9FD3AD;
                                    transition: all 0.5s ease-out;
                                    cursor: pointer;
                
                                }
                
                                .square3:hover {
                                    scale: 0.95;
                                    transition: all 0.5s ease-out;
                
                                }
                
                                .kate:hover {
                                    scale: 0.95;
                                    transition: all 0.5s ease-in-out;
                
                                }
                
                                .madam:hover {
                                    scale: 0.95;
                                    transition: all 0.5s ease-in-out;
                
                                }
                
                                .kylie:hover {
                                    scale: 0.95;
                                    transition: all 0.5s ease-in-out;
                
                                }
                
                                .mock:hover {
                                    scale: 0.95;
                                    transition: all 0.5s ease-in-out;
                
                                }
                
                                .mockup2:hover {
                                    scale: 0.95;
                                    transition: all 0.5s ease-in-out;
                
                                }
                
                                .square {
                                    width: 81vw;
                                    height: 47vw;
                                    background-color: #FFFBF7;
                                    border: 0.4vw solid black;
                                    margin-left: 3vw;
                                    margin-top: 10vw;
                
                                }
                
                                .what {
                                    font-family: "BitumLightItalic";
                                    font-style: italic;
                                    font-weight: normal;
                                    font-size: 8vw;
                                    text-align: center;
                                    margin-top: 12vw;
                                }
                
                                .platform {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 2.8vw;
                                    text-align: center;
                                    margin-left: 1.3vw;
                                    margin-top: 1.4vw;
                                }
                
                                .mock {
                                    background-image: url('./images/mo.svg');
                                    background-size: cover;
                                    width: 75vw;
                                    height: 49vw;
                                    margin-top: -5vw;
                                    margin-left: 9vw;
                                }
                
                                .description {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 4vw;
                                    margin-top: 5.6vw;
                                    width: 78vw;
                                }
                
                                .description2 {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 4vw;
                                    margin-top: 3.4vw;
                                    width: 78vw;
                                }
                
                                .description3 {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 4vw;
                                    margin-top: 3.4vw;
                                    width: 78vw;
                                }
                
                                .why {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 6vw;
                                    margin-left: 4vw;
                                    margin-top: 10vw;
                                }
                
                                .kate {
                                    background-image: url('./images/kate.svg');
                                    border: 0.5vw solid black;
                                    background-size: cover;
                                    width: 90vw;
                                    height: 140vw;
                                    margin-top: 3vw;
                                    margin-left: 4vw;
                                }
                
                                .kylie {
                                    background-image: url('./images/kylie.svg');
                                    border: 0.5vw solid black;
                                    background-size: cover;
                                    width: 90vw;
                                    height: 61vw;
                                    margin-top: 6vw;
                                    margin-left: 4vw;
                                }
                
                                .madam {
                                    background-image: url('./images/madam.svg');
                                    border: 0.5vw solid black;
                                    background-size: cover;
                                    width: 90vw;
                                    height: 61vw;
                                    margin-top: 6vw;
                                    margin-left: 4vw;
                                }
                
                                .description4 {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 4vw;
                                    margin-top: 7.4vw;
                                    width: 68vw;
                                }
                
                                .description5 {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 4vw;
                                    margin-top: 1.8vw;
                                    width: 62vw;
                                }
                
                                .for {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 6vw;
                                    margin-left: 4vw;
                                    margin-top: 10vw;
                                }
                
                                .description6 {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 4vw;
                                    margin-top: 47vw;
                                    width: 78vw;
                                }
                
                                .description7 {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 4vw;
                                    margin-top: 1.8vw;
                                    width: 73vw;
                                }
                
                                .mockup2 {
                                    background-image: url('./images/mockup2.svg');
                                    background-size: cover;
                                    width: 81vw;
                                    height: 53vw;
                                    margin-top: -79vw;
                                    margin-left: 1vw;
                                }
                
                                .square4 {
                                    width: 45vw;
                                    height: 28vw;
                                    background-color: #FFDAED;
                                    border: 0.2vw solid black;
                                    margin-left: 22vw;
                                    margin-top: 45vw;
                
                                }
                
                                .square5 {
                                    width: 45vw;
                                    height: 28vw;
                                    background-color: #FFFBF7;
                                    border: 0.2vw solid black;
                                    margin-left: 26.5vw;
                                    margin-top: -32.5vw;
                
                                }
                
                                .mail {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 2vw;
                                    margin-left: 4vw;
                                    margin-top: 4vw;
                                    width: 36vw;
                                }
                
                                .form {
                                    margin-left: 4vw;
                                    margin-top: 4vw;
                                    width: 60vw;
                                    height: 4vw;
                                    font-size: 1.5vw;
                                }
                
                                .mailme {
                                    position: absolute;
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 2vw;
                                    height: 4vw;
                                    width: 30vw;
                                    margin-top: -15vw;
                                    margin-left: 31vw;
                                    color: #FFFBF7;
                                    background-color: #FFFBF7;
                                    border: 0.2vw solid black;
                                    border-radius: 0.1vw
                                }
                
                                #my-form-button {
                                    position: absolute;
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 2vw;
                                    height: 4vw;
                                    width: 20vw;
                                    margin-top: -9vw;
                                    margin-left: 31vw;
                                    color: #000000;
                                    background-color: #9FD3AD;
                                    border: 0.2vw solid black;
                                    border-radius: 0.1vw;
                                }
                
                                #my-form-status {
                                    position: absolute;
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 1.5vw;
                                    margin-left: 31vw;
                                    margin-top: -3.7vw;
                                    width: 36vw;
                                }
                
                                #my-form-button:hover {
                                    cursor: pointer;
                                }
                
                                .line {
                                    width: 100vw;
                                    height: 0.2vw;
                                    background-color: #000000;
                                    margin-top: 19vw;
                
                                }
                
                                .me {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 4.3vw;
                                    margin-top: 3vw;
                                }
                
                                .sasha {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 4.3vw;
                                    margin-top: 1vw;
                                }
                
                                .dasha {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 4.3vw;
                                    margin-top: 1vw;
                                    margin-bottom: 1vw;
                                }
                
                                .hse {
                                    background-image: url('./images/hse.svg');
                                    background-size: cover;
                                    width: 23vw;
                                    height: 9vw;
                                    margin-top: -8.5vw;
                                    margin-left: 55vw;
                                    margin-bottom: 3vw;
                                }
                
                                .and {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 1.2vw;
                                    margin-left: 37vw;
                                    margin-top: -6vw;
                                    margin-bottom: 3vw;
                                }
                
                                .curators {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 55vw;
                                    margin-top: -12.15vw;
                                    margin-bottom: 1vw;
                                }
                
                                .sofia {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 55vw;
                                    margin-top: 1vw;
                                    margin-bottom: 1vw;
                                }
                
                                .anna {
                                    font-family: "HelveticaNeueCyrRoman";
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 3vw;
                                    margin-left: 55vw;
                                    margin-top: 1vw;
                                    margin-bottom: 0vw;
                                }
                
                                .vk {
                                    background-image: url('./images/vk.svg');
                                    background-size: cover;
                                    width: 12vw;
                                    height: 7vw;
                                    margin-left: 5vw;
                                    margin-top: 9vw;
                                }
                
                                .tg {
                                    background-image: url('./images/tg.svg');
                                    background-size: cover;
                                    width: 10.6vw;
                                    height: 8vw;
                                    margin-left: 19vw;
                                    margin-top: -7.5vw;
                                }
                
                                .footer {
                                    width: 55vw;
                                    height: 5vw;
                                    background-color: #FFFBF7;
                                }
                
                                .wrap {
                                    scale: 0.8;
                                    margin-top: -9vw;
                                }
                                .shift {
                                    scale: 1.3;
                                }
            
        }

}