@media all and (min-width: 501px) {
  body.about {
    background-color: #FCFCFC;

    #S_mail {
      &.W_FormInput {
        &#my-form {
          display: flex;
          align-items: center;
          gap: 1vw;
        }
      }
    }

    .bigAbout {
      margin: 4vw;
    }

    .forWhom{
      height: 44vw;
    }
    .scaleme {
      height: 80vw;
    }

    .logogo {
      width: 10vw;
      height: 9vw;
      padding-top: 1.5vw;
      padding-left: 2vw;
    }

    .whitelogo {
      width: 14vw;
      height: 9vw;
      padding-top: 1.5vw;
      padding-left: 2vw;
    }

    .splash {
      width: 14.38vw;
      height: 2.85vw;
      background-color: #ffffff;
      border: 0.15vw solid #004bef;
      border-radius: 2vw;
      margin-left: 66vw;
      margin-top: -6.5vw;
    }

    .splash:hover {
      background-color: #d9d8ff;
      transition: all 0.5s ease-out;
    }

    .card {
      width: 14.38vw;
      height: 2.85vw;
      background-color: #ffffff;
      border: 0.2vw solid #004bef;
      border-radius: 2vw;
      margin-left: 49vw;
      margin-top: -5vw;
    }

    .media {
      width: 14.38vw;
      height: 2.85vw;
      background-color: #ffffff;
      border: 0.2vw solid #004bef;
      border-radius: 2vw;
      margin-left: 33vw;
      margin-top: -8vw;
    }

    .project {
      width: 14.38vw;
      height: 2.85vw;
      background-color: #004bef;
      border: 0.15vw solid #004bef;
      border-radius: 2vw;
      margin-left: 82vw;
      margin-top: -5vw;
    }

    .oval {
      margin-left: 4.5vw;
      margin-top: 2vw;
      width: 88vw;
      height: 44vw;
    }

    .oval2 {
      margin-left: 6vw;
      margin-top: 24vw;
      width: 88vw;
      height: 44vw;
    }

    .outline {
      position: absolute;
      margin-left: -44vw;
      margin-top: 33vw;
      width: 23vw;
      height: 9vw;
    }

    // a {
    //   display: block;
    //   text-decoration: none;
    // }
    .mediatext {
      font-family: 'HelveticaNeueCyrRoman';
      font-style: normal;
      font-weight: normal;
      font-size: 1.25vw;
      padding: 0.65vw;
      padding-left: 5.2vw;
      text-decoration: none;
      color: #004bef;
    }

    .cardtext {
      font-family: 'HelveticaNeueCyrRoman';
      font-style: normal;
      font-weight: normal;
      font-size: 1.25vw;
      padding: 0.65vw;
      padding-left: 4.6vw;
      text-decoration: none;
      color: #004bef;
    }

    .projecttext {
      font-family: 'HelveticaNeueCyrRoman';
      font-weight: normal;
      font-style: normal;
      font-size: 1.25vw;
      padding: 0.6vw;
      padding-left: 5.3vw;
      color: #ffffff;
    }

    .script {
      font-family: 'HelveticaNeueCyrRoman';
      font-weight: normal;
      font-style: normal;
      font-size: 1vw;
      margin-top: 7vw;
      margin-left: 5vw;
      color: #004bef;
      text-align: center;
    }

    .case {
      font-family: Helvetica;
      font-weight: normal;
      font-style: normal;
      font-size: 0.9vw;
      margin-top: -40.5vw;
      margin-left: 60vw;
      color: #004bef;
    }

    .dishtext {
      position: absolute;
      font-family: Helvetica;
      font-weight: normal;
      font-style: normal;
      font-size: 0.9vw;
      margin-top: -22vw;
      margin-left: 73vw;
      color: #004bef;
    }

    .knifetext {
      position: absolute;
      font-family: Helvetica;
      font-weight: normal;
      font-style: normal;
      font-size: 0.9vw;
      margin-top: -6vw;
      margin-left: 59vw;
      color: #004bef;
    }

    .forktext {
      position: absolute;
      font-family: Helvetica;
      font-weight: normal;
      font-style: normal;
      font-size: 0.9vw;
      margin-top: 4vw;
      margin-left: 74.5vw;
      color: #004bef;
    }

    .tea {
      font-family: Helvetica;
      font-weight: normal;
      font-style: normal;
      font-size: 0.9vw;
      margin-top: 25vw;
      margin-left: 62vw;
      color: #004bef;
    }

    .heels {
      font-family: Helvetica;
      font-weight: normal;
      font-style: normal;
      font-size: 0.9vw;
      margin-top: 7vw;
      margin-left: 68vw;
      color: #004bef;
    }

    .guides {
      font-family: Helvetica;
      font-weight: 500;
      font-style: normal;
      font-size: 2.3vw;
      margin-top: -26vw;
      margin-left: 66vw;
      color: #004bef;
      text-align: center;
    }

    .cards {
      position: absolute;
      font-family: Helvetica;
      font-weight: 500;
      font-style: normal;
      font-size: 2.3vw;
      margin-top: -12vw;
      margin-left: 68vw;
      color: #004bef;
      text-align: center;
    }

    .what {
      font-family: 'Oranienbaum', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10.4vw;
      text-align: center;
      margin-top: -31vw;
      margin-left: 7vw;
      color: #004bef;
    }

    .bag {
      width: 21vw;
      height: 15vw;
      margin-top: -7vw;
      margin-left: 73vw;
    }

    .dish {
      position: absolute;
      width: 21vw;
      height: 10vw;
      margin-top: -32vw;
      margin-left: 72vw;
    }

    .fork {
      position: absolute;
      width: 5vw;
      height: 30vw;
      margin-top: -16vw;
      margin-left: 85vw;
    }

    .knife {
      position: absolute;
      width: 5vw;
      height: 30vw;
      margin-top: -22vw;
      margin-left: 51vw;
    }

    .cup {
      width: 19vw;
      height: 13vw;
      margin-top: -3vw;
      margin-left: 56vw;
    }

    .shoe {
      width: 16vw;
      height: 15vw;
      margin-top: -8vw;
      margin-left: 77vw;
    }

    .shift {
      margin-top: 30vw;
    }

    .number {
      width: 8vw;
      height: 4vw;
      margin-top: -13vw;
      margin-left: 65vw;
    }

    .numbera {
      position: absolute;
      width: 8vw;
      height: 4vw;
      margin-top: -23vw;
      margin-left: 67vw;
    }

    .numberb {
      position: absolute;
      width: 8vw;
      height: 4vw;
      margin-top: -10.5vw;
      margin-left: 56.5vw;
    }

    .numberc {
      position: absolute;
      width: 8vw;
      height: 4vw;
      margin-top: 3vw;
      margin-left: 68.5vw;
    }

    .number6 {
      width: 8vw;
      height: 4vw;
      margin-top: -3vw;
      margin-left: 85vw;
    }

    .number3 {
      width: 8vw;
      height: 4vw;
      margin-top: -13vw;
      margin-left: 50vw;
    }

    .arroww {
      width: 16vw;
      height: 11vw;
      margin-top: -7vw;
      margin-left: 55vw;
    }

    .aroww2 {
      width: 18vw;
      height: 13vw;
      margin-top: -8vw;
      margin-left: 74vw;
    }

    .arrow3 {
      position: absolute;
      width: 16vw;
      height: 11vw;
      margin-top: -21vw;
      margin-left: 55vw;
    }

    .arrow4 {
      position: absolute;
      width: 16vw;
      height: 11vw;
      margin-top: -3vw;
      margin-left: 58vw;
    }

    .us {
      font-family: 'Oranienbaum', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 5.2vw;
      margin-top: 15vw;
      margin-left: 3.8vw;
      color: #004bef;
    }

    .platform {
      font-family: 'Snell Roundhand', arial;
      font-style: normal;
      font-weight: normal;
      font-family: 'Snell Roundhand', arial;
      font-style: normal;
      font-weight: normal;
      margin-left: 33.7vw;
      margin-top: -0.6vw;
      color: #004bef;
      font-size: 5.21vw;
    }

    .tuned {
      font-family: 'Snell Roundhand', arial;
      font-style: normal;
      font-weight: normal;
      font-size: 3vw;
      text-align: center;
      margin-left: -1.7vw;
      margin-top: -16.6vw;
      color: #004bef;
    }

    .mock {
      font-weight: normal;
      font-size: 1.5vw;
      margin-left: 4vw;
      margin-top: -13.6vw;
      width: 36vw;
      color: #004bef;
    }

    .description {
      font-size: 1.5vw;
      margin-left: 4vw;
      margin-top: -10.4vw;
      width: 37vw;
      color: #004bef;
    }
    .description2 {
      font-size: 1.5vw;
      margin-left: 4vw;
      margin-top: 1.4vw;
      width: 37vw;
      color: #004bef;
    }

    .description3 {
      font-size: 1.5vw;
      margin-left: 4vw;
      margin-top: 1.4vw;
      width: 36vw;
      color: #004bef;
    }

    .hashtag {
      font-family: 'HelveticaNeueCyrRoman';
      font-style: normal;
      font-weight: normal;
      font-size: 1vw;
      margin-left: 10vw;
      margin-top: 0.4vw;
      color: #004bef;
    }

    .hashtag2 {
      font-family: 'HelveticaNeueCyrRoman';
      font-style: normal;
      font-weight: normal;
      font-size: 1vw;
      margin-left: 36vw;
      margin-top: -1.2vw;
      color: #004bef;
    }

    .hashtag3 {
      font-family: 'HelveticaNeueCyrRoman';
      font-style: normal;
      font-weight: normal;
      font-size: 1vw;
      margin-left: 57.5vw;
      margin-top: -1.2vw;
      color: #004bef;
    }

    .hashtag4 {
      font-family: 'HelveticaNeueCyrRoman';
      font-style: normal;
      font-weight: normal;
      font-size: 1vw;
      margin-left: 81.5vw;
      margin-top: -1.2vw;
      color: #004bef;
    }

    .liner {
      width: 93vw;
      height: 0.15vw;
      margin-left: 3.5vw;
      margin-top: 1.3vw;
      background: #004bef;
    }

    .last {
      width: 100vw;
      height: 10vw;
      margin-top: 17vw;
      background: #004bef;
    }

    .why {
      font-family: 'Oranienbaum', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 5.2vw;
      margin-top: -51vw;
      margin-left: 4vw;
      padding: 3vw 0vw 1vw;
      color: #004bef;
    }

    .kvadrat {
      background: #d9d8ff;
      width: 100vw;
      height: 54vw;
      margin-top: 17vw;
    }

    .blue1 {
      position: absolute;
      margin-top:  2.5vw;
      margin-left: 19.5vw;
      width: 6vw;
      height: 8vw;
    }

    .blue5 {
      position: absolute;
      margin-top:  2.5vw;
      margin-left: 42.5vw;
      width: 6vw;
      height: 8vw;
    }

    .blue6 {
      position: absolute;
      margin-top:  2.5vw;
      margin-left: 65.5vw;
      width: 6vw;
      height: 8vw;
    }

    .blue11 {
      position: absolute;
      margin-top:  2.5vw;
      margin-left: 88.5vw;
      width: 6vw;
      height: 8vw;
    }

    .description4 {
      font-family: Helvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5vw;
      margin-top: 2vw;
      color: #004bef;
      text-align: center;
    }

    .description5 {
      font-family: Helvetica;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5vw;
      margin-top: 1.8vw;
      color: #004bef;
      text-align: center;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 2vw;
    }

    .pic1 {
      width: 23vw;
      padding: 0.8vw;
    }

    .pic2 {
      width: 23vw;
      padding: 0.8vw;
    }

    .pic3 {
      width: 23vw;
      padding: 0.8vw;
    }

    .pic4 {
      width: 23vw;
      padding: 0.8vw;
    }

    .for {
      font-family: 'Oranienbaum', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 5.2vw;
      margin-top: 12vw;
      margin-left: 4vw;
      color: #004bef;
    }

    .description6 {
      font-weight: normal;
      font-size: 1.5vw;
      margin-left: 4vw;
      margin-top: 3vw;
      width: 36vw;
      color: #004bef;
    }

    .description7 {
      margin-left: 4vw;
      margin-top: 1.8vw;
      font-size: 1.5vw;
      width: 36vw;
      color: #004bef;
    }

    .mail {
      position: absolute;
      font-family: 'Oranienbaum', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 5.2vw;
      margin-top: -33vw;
      margin-left: 30vw;
      text-align: center;
      color: #004bef;
    }

    .form {
      font-weight: normal;
      font-size: 2vw;
      height: 4vw;
      width: 24vw;
      margin-top: -24vw;
      margin-left: 30vw;
      color: #c1c1c1;
      background-color: #ffffff;
      border: 0.2vw solid #004bef;
      border-radius: 3vw;
    }

    ::placeholder {
      color: #c1c1c1;
      font-size: 2vw;
      padding: 1.5vw;
    }

    #my-form-button {
      width: 14vw;
      margin-top: -24vw;
      margin-left: 56vw;
      color: #ffffff;
      background-color: #004bef;
      border: 0.2vw solid #004bef;
      border-radius: 3vw;
    }

    .line {
      width: 40vw;
      height: 0.2vw;
      background-color: #004bef;
      margin-top: 1vw;
      margin-left: 30vw;
    }

    .sasha {
      font-size: 1.2vw;
      margin-left: 19.3vw;
      margin-top: 0.5vw;
      color: #ffffff;
    }

    .dasha {
      margin-left: 19.3vw;
      margin-top: 0.5vw;
      margin-bottom: 3vw;
      color: #ffffff;
    }

    .hse {
      background-image: url('images/Q_hse_logo.png');
      background-size: cover;
      width: 12vw;
      height: 4.7vw;
      margin-top: -5vw;
      margin-left: 83vw;
      margin-bottom: 3vw;
    }

    .curators {
      font-family: 'HelveticaNeueCyrRoman';
      font-style: normal;
      margin-left: 40vw;
      margin-top: -7.65vw;
      margin-bottom: 3vw;
      color: #ffffff;
    }

    .sofia {
      margin-left: 40vw;
      margin-top: -2.35vw;
      margin-bottom: 3vw;
      color: #ffffff;
    }

    .anna {
      margin-left: 40vw;
      margin-top: -2.5vw;
      margin-bottom: 3vw;
      color: #ffffff;
    }

    .whitevk {
      background-image: url('images/Q_Vk.png');
      background-size: cover;
      width: 6vw;
      height: 3.6vw;
      margin-left: 64vw;
      margin-top: -7vw;
      cursor: pointer;
    }

    .whitetg {
      background-image: url('images/Q_Tg.png');
      background-size: cover;
      width: 6vw;
      height: 5vw;
      scale: 0.85;
      margin-left: 72vw;
      margin-top: -5.6vw;
      cursor: pointer;
    }

    .wrap {
      scale: 0.8;
      margin-top: -9vw;
    }

    .mobileoval {
      display: none;
    }

    .mobileoval2 {
      display: none;
    }

    .mail2 {
      display: none;
    }
  }
}

@media only screen and (max-width: 499px) {
  body.about {
      background-color: #FFFFFF;
    
      .bigAbout {
        height: 201vw;
        position: relative;
      }
      .logogo {
        position: relative;
        width: 18vw;
        height: 13vw;
        top: 13vw;
        padding-left: 2vw;
      }
  
      .whitelogo {
        width: 18vw;
        height: 13vw;
        margin-top: 3vw;
        padding-left: 2vw;
        scale: 0.8;
      }
  
      .splash {
        width: 20vw;
        height: 6vw;
        background-color: #FFFFFF;
        border: 0.4vw solid #004BEF;
        border-radius: 4vw;
        margin-left: 54vw;
        margin-top: 2vw;
  
      }
  
      .splash:active {
        background-color: #D9D8FF;
        transition: all 0.5s ease-out;
      }
  
      .card {
        width: 14.38vw;
        height: 2.85vw;
        background-color: #FFFFFF;
        border: 0.2vw solid #004BEF;
        border-radius: 2vw;
        margin-left: 49vw;
        margin-top: -5vw;
  
      }
  
      .media {
        width: 14.38vw;
        height: 2.85vw;
        background-color: #FFFFFF;
        border: 0.2vw solid #004BEF;
        border-radius: 2vw;
        margin-left: 33vw;
        margin-top: -8vw;
  
      }
  
      .project {
        width: 20vw;
        height: 6vw;
        background-color: #004BEF;
        border: 0.2vw solid #004BEF;
        border-radius: 3vw;
        margin-left: 76vw;
        margin-top: -5vw;
  
      }
  
      .mobileoval {
        margin-left: 3vw;
        margin-top: 12vw;
        width: 95vw;
        height: 175vw;
      }
  
      .mobileoval2 {
        position: absolute;
        margin-left: 49vw;
        margin-top: 40vw;
        width: 49vw;
        height: 144vw;
      }
  
      .oval {
        display: none;
      }
  
      .oval2 {
        display: none;
  
      }
  
      .outline {
        position: absolute;
        margin-left: 63.5vw;
        margin-top: 99.3vw;
        width: 26vw;
        height: 9vw;
  
      }
  
      // a {
      //   display: block;
      //   text-decoration: none;
      //   width: 5vw;
      //   height: 5vw;
      // }
  
      .splashtext {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 2.5vw;
        padding: 1.3vw;
        padding-left: 5.1vw;
        text-decoration: none;
        color: #004BEF;
      }
  
      .mediatext {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25vw;
        padding: 0.65vw;
        padding-left: 5.2vw;
        text-decoration: none;
        color: #004BEF;
      }
  
      .cardtext {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25vw;
        padding: 0.65vw;
        padding-left: 4.6vw;
        text-decoration: none;
        color: #004BEF;
      }
  
      .projecttext {
        font-family: Helvetica;
        font-weight: normal;
        font-style: normal;
        font-size: 2.5vw;
        padding: 1.3vw;
        padding-left: 5.9vw;
        color: #FFFFFF;
      }
  
      .script {
        font-family: Helvetica;
        font-weight: normal;
        font-style: normal;
        font-size: 3vw;
        margin-top: 56vw;
        margin-left: 0vw;
        color: #004BEF;
        text-align: center;
      }
  
      .case {
        font-family: Helvetica;
        font-weight: normal;
        font-style: normal;
        font-size: 1.5vw;
        margin-top: -82.5vw;
        margin-left: 54vw;
        color: #004BEF;
        width: 20vw;
      }
  
      .dishtext {
        position: absolute;
        font-family: Helvetica;
        font-weight: normal;
        font-style: normal;
        font-size: 01.5vw;
        margin-top: -14vw;
        margin-left: 55vw;
        color: #004BEF;
      }
  
      .knifetext {
        position: absolute;
        font-family: Helvetica;
        font-weight: normal;
        font-style: normal;
        font-size: 1.5vw;
        margin-top: 20vw;
        margin-left: 27vw;
        color: #004BEF;
      }
  
      .forktext {
        position: absolute;
        font-family: Helvetica;
        font-weight: normal;
        font-style: normal;
        font-size: 1.5vw;
        margin-top: 35vw;
        margin-left: 56.5vw;
        color: #004BEF;
      }
  
      .tea {
        font-family: Helvetica;
        font-weight: normal;
        font-style: normal;
        font-size: 1.5vw;
        margin-top: 37vw;
        margin-left: 40vw;  
        color: #004BEF;
        width: 20vw;
      }
  
      .heels {
        font-family: Helvetica;
        font-weight: normal;
        font-style: normal;
        font-size: 1.5vw;
        margin-top: 33vw;
        margin-left: 56vw;
        color: #004BEF;
        width: 20vw;
      }
  
      .guides {
        font-family: Helvetica;
        font-weight: 500;
        font-style: normal;
        font-size: 3.3vw;
        margin-top: -52vw;
        margin-left: 64vw;
        color: #004BEF;
        text-align: center;
      }
  
      .cards {
        position: absolute;
        font-family: Helvetica;
        font-weight: 500;
        font-style: normal;
        font-size: 3.3vw;
        margin-top: 6vw;
        margin-left: 46vw;
        color: #004BEF;
        text-align: center;
      }
  
      .what {
        font-family: 'Oranienbaum', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14vw;
        text-align: center;
        margin-top: -99vw;
        color: #004BEF;
      }
  
      .bag {
        width: 30vw;
        height: 21vw;
        margin-top: -7vw;
        margin-left: 73vw;
  
      }
  
      .dish {
        position: absolute;
        width: 29vw;
        height: 14vw;
        margin-top: -32vw;
        margin-left: 55vw;
  
      }
  
      .fork {
        position: absolute;
        width: 8vw;
        height: 49vw;
        margin-top: -6vw;
        margin-left: 74vw;
  
      }
  
      .knife {
        position: absolute;
        width: 8vw;
        height: 49vw;
        margin-top: -17vw;
        margin-left: 17vw;
  
      }
  
      .cup {
        width: 25vw;
        height: 17vw;
        margin-top: -3vw;
        // margin-left: 56vw;
  
      }
  
      .shoe {
        width: 21vw;
        height: 22vw;
        margin-top: -3vw;
        margin-left: 72vw;
  
      }
  
      .shift {
        margin-top: 30vw;
  
      }
  
      .number {
        width: 11vw;
        height: 8vw;
        margin-top: 5vw;
        margin-left: 65vw;
  
      }
  
      .numbera {
        position: absolute;
        width: 11vw;
        height: 8vw;
        margin-top: -17vw;
        margin-left: 44vw;
  
      }
  
      .numberb {
        position: absolute;
        width: 11vw;
        height: 8vw;
        margin-top: 8.5vw;
        margin-left: 24.5vw;
  
      }
  
      .numberc {
        position: absolute;
        width: 11vw;
        height: 8vw;
        margin-top: 32vw;
        margin-left: 43.5vw;
  
      }
  
      .number6 {
        width: 11vw;
        height: 8vw;
        // margin-top: -3vw;
        margin-left: 85vw;
  
      }
  
      .number3 {
        width: 11vw;
        height: 8vw;
        margin-top: -13vw;
        margin-left: 22vw;
  
      }
  
      .arroww {
        width: 22vw;
        height: 15vw;
        // margin-top: -7vw;
        margin-left: 55vw;
  
      }
  
      .aroww2 {
        width: 22vw;
        height: 15vw;
        margin-top: -2vw;
        margin-left: 56vw;
  
      }
  
      .arrow3 {
        position: absolute;
        width: 22vw;
        height: 15vw;
        margin-top: -12vw;
        margin-left: 25vw;
  
      }
  
      .arrow4 {
        position: absolute;
        width: 22vw;
        height: 15vw;
        margin-top: 26vw;
        margin-left: 28vw;
          
      }
  
      .us {
        font-family: 'Oranienbaum', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 9vw;
        // margin-top: 38vw;
        color: #004BEF;
        text-align: center;
        // margin-left: 25vw;
      }
  
      .platform {
        font-family: 'Snell Roundhand', arial;
        font-style: normal;
        font-weight: normal;
        font-size: 9vw;
        text-align: center;
        margin-left: -1.7vw;
        margin-top: -0.6vw;
        color: #004BEF;
  
      }
  
      .tuned {
        font-family: 'Snell Roundhand', arial;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        text-align: center;
        margin-left: 47.3vw;
        margin-top: 167.4vw;
        color: #004BEF;
  
      }
  
      .scaleme {
        // position: absolute;
        width: 100vw;
        // scale: 1.8;
        margin-left: -17vw;
      }
  
      .wrapper2 {
        margin-top: 38vw;
        margin-left: -2vw;
      }
  
      .description {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 2.7vw;
        margin-left: 24vw;
        margin-top: 51vw;
        color: #004BEF;
        width: 70vw;
      }
  
      .description2 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 2.7vw;
        margin-left: 24vw;
        margin-top: 4vw;
        color: #004BEF;
        width: 70vw;
      }
  
      .description3 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 2.7vw;
        margin-left: 24vw;
        margin-top: 4vw;
        color: #004BEF;
        width: 70vw;
      }
  
      .hashtag {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 1vw;
        margin-left: 10vw;
        margin-top: 0.4vw;
        color: #004BEF;
      }
  
      .hashtag2 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 1vw;
        margin-left: 36vw;
        margin-top: -1.2vw;
        color: #004BEF;
      }
  
      .hashtag3 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 1vw;
        margin-left: 57.5vw;
        margin-top: -1.2vw;
        color: #004BEF;
      }
  
      .hashtag4 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 1vw;
        margin-left: 81.5vw;
        margin-top: -1.2vw;
        color: #004BEF;
      }
  
      .liner {
        width: 93vw;
        height: 0.15vw;
        margin-left: 3.5vw;
        margin-top: 1.3vw;
        background: #004BEF;
      }
  
      .last {
        position: absolute;
        width: 100vw;
        height: 19vw;
        margin-top: 1100vw;
        background: #004BEF;
      }
  
      .why {
        font-family: 'Oranienbaum', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 9vw;
        margin-left: 6vw;
        color: #004BEF;
        padding: 4vw 0 2vw;
      }
  
      .kvadrat {
        background: #D9D8FF;
        width: 101vw;
        height: 143vw;
        margin-top: 7vw;
      }
  
      .blue1 {
        position: absolute;
        margin-top: 0vw;
        margin-left: 42.5vw;
        width: 6vw;
        height: 8vw;
      }
  
      .blue5 {
        position: absolute;
        margin-top: 0vw;
        margin-left: 87.5vw;
        width: 6vw;
        height: 8vw;
      }
  
      .blue6 {
        position: absolute;
        margin-top: 48vw;
        margin-left: 87.5vw;
        width: 6vw;
        height: 8vw;
      }
  
      .blue11 {
        position: absolute;
        margin-top: 48vw;
        margin-left: 42.5vw;
        width: 6vw;
        height: 8vw;
      }
  
      .description4 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 2.7vw;
        margin-left: 7vw;
        margin-top: 3vw;
        color: #004BEF;
        width: 70vw;
      }
  
      .description5 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 2.7vw;
        margin-left: 7vw;
        margin-top: 4vw;
        color: #004BEF;
        width: 56vw;
      }
  
      .wrapper {
        // display: table-row-group;
        // justify-content: center;
        // padding-top: 2vw;
        margin-left: 7vw;
      }
      .wrapper3 {
        // display: table-row-group;
        // justify-content: center;
        // padding-top: 2vw;
        // margin-left: 52vw;
      }
  
      .liner {
        display: none;
      }
  
      .hashtag {
        display: none;
      }
  
      .hashtag2 {
        display: none;
      }
  
      .hashtag3 {
        display: none;
      }
  
      .hashtag4 {
        display: none;
      }
  
      .pic1 {
        width: 43vw;
        padding: 0.8vw;
      }
  
      .pic2 {
        width: 43vw;
        padding: 0.8vw;
      }
  
      .pic3 {
        width: 43vw;
        padding: 0.8vw;
      }
  
      .pic4 {
        width: 43vw;
        padding: 0.8vw;
      }
  
      .for {
        font-family: 'Oranienbaum', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 9vw;
        margin-top: 8vw;
        margin-left: 6vw;
        color: #004BEF;
      }
  
      .description6 {
        position: absolute;
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 2.7vw;
        margin-left: 7vw;
        margin-top: 89vw;
        width: 70vw;
        color: #004BEF;
      }

      .forWhom {
        height: 138vw;
        margin-top: 15vw;
      }
  
      .description7 {
        position: absolute;
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 2.7vw;
        margin-left: 7vw;
        margin-top: 101vw;
        width: 70vw;
        color: #004BEF;
      }
  
      .mail2 {
        position: absolute;
        font-family: 'Oranienbaum', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 6.2vw;
        margin-top: 94vw;
        margin-left: 60vw;
        text-align: center;
        color: #004BEF;
      }
  
      .mail {
        display: none;
      }
  
      .form {
        margin-left: 4vw;
        margin-top: 4vw;
        width: 60vw;
        height: 4vw;
        font-size: 1.5vw;
      }
  
      // .mailme {
      //   position: absolute;
      //   font-family: Helvetica;
      //   font-style: normal;
      //   font-weight: normal;
      //   font-size: 2vw;
      //   height: 5vw;
      //   width: 34vw;
      //   // margin-top: 112vw;
      //   // margin-left: 57vw;
      //   color: #C1C1C1;
      //   background-color: #FFFFFF;
      //   border: 0.2vw solid #004BEF;
      //   border-radius: 3vw
      // }
  
      // ::placeholder {
      //   color: #C1C1C1;
      //   font-size: 2vw;
      //   padding-top: 1.5vw;
      //   padding-left: 13vw;
  
      // }

      // #my-form {
      //   display: flex;
      //   flex-direction: column;
      // }
  
      // #my-form-button {
      //   position: absolute;
      //   font-family: Helvetica;
      //   font-style: normal;
      //   font-weight: normal;
      //   font-size: 2vw;
      //   height: 5vw;
      //   width: 34vw;
      //   // margin-top: 119vw;
      //   // margin-left: 57vw;
      //   color: #FFFFFF;
      //   background-color: #004BEF;
      //   border: 0.2vw solid #004BEF;
      //   border-radius: 3vw;
      // }
  
      // #my-form-status {
      //   position: absolute;
      //   font-family: Helvetica;
      //   font-style: normal;
      //   font-weight: normal;
      //   font-size: 1.5vw;
      //   margin-left: 31vw;
      //   margin-top: -3.7vw;
      //   width: 36vw;
      // }
  
      // #my-form-button:hover {
      //   cursor: pointer;
      // }
  
      .line {
        position: absolute;
        width: 60vw;
        height: 0.2vw;
        background-color: #004BEF;
        margin-top: 1029vw;
        margin-left: 20vw;
  
      }
  
      .me {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        margin-left: 19.3vw;
        margin-top: -9.3vw;
        color: #FFFFFF;
      }
  
      .sasha {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        margin-left: 19.3vw;
        margin-top: 0.5vw;
        color: #FFFFFF;
      }
  
      .dasha {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        margin-left: 19.3vw;
        margin-top: 0.5vw;
        margin-bottom: 3vw;
        color: #FFFFFF;
      }
  
      .curators {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        margin-left: 40vw;
        margin-top: -7.65vw;
        margin-bottom: 3vw;
        color: #FFFFFF;
      }
  
      .sofia {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        margin-left: 40vw;
        margin-top: -2.35vw;
        margin-bottom: 3vw;
        color: #FFFFFF;
      }
  
      .anna {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        margin-left: 40vw;
        margin-top: -2.5vw;
        margin-bottom: 3vw;
        color: #FFFFFF;
      }
  
      .wrap {
        scale: 0.8;
        margin-top: -9vw;
      }

      #S_mail {
        padding: 41vw 3vw;
      }
    }
}