@media all and (min-width: 501px) {
body.about {
        background-color: #FFFFFF;

        .logogo {
            width: 10vw;
            height: 9vw;
            padding-top: 1.5vw;
            padding-left: 2vw;
        }

        .whitelogo {
            width: 14vw;
            height: 9vw;
            padding-top: 1.5vw;
            padding-left: 2vw;
        }

        .splash {
            width: 14.38vw;
            height: 2.85vw;
            background-color: #FFFFFF;
            border: 0.15vw solid #004BEF;
            border-radius: 2vw;
            margin-left: 66vw;
            margin-top: -6.5vw;

        }
        .splash:hover {
            background-color: #D9D8FF;
            transition: all 0.5s ease-out;
        }
        .card {
            width: 14.38vw;
            height: 2.85vw;
            background-color: #FFFFFF;
            border: 0.2vw solid #004BEF;
            border-radius: 2vw;
            margin-left: 49vw;
            margin-top: -5vw;

        }
        .media {
            width: 14.38vw;
            height: 2.85vw;
            background-color: #FFFFFF;
            border: 0.2vw solid #004BEF;
            border-radius: 2vw;
            margin-left: 33vw;
            margin-top: -8vw;

        }

        .project {
            width: 14.38vw;
            height: 2.85vw;
            background-color: #004BEF;
            border: 0.15vw solid #004BEF;
            border-radius: 2vw;
            margin-left: 82vw;
            margin-top: -5vw;

        }
        .oval {
            margin-left: 4.5vw;
            margin-top: 2vw;
            width: 88vw;
            height: 44vw;
        }
        .oval2 {
            margin-left: 6vw;
            margin-top: 24vw;
            width: 88vw;
            height: 44vw;

        }
        .outline {
            position: absolute;
            margin-left: -44vw;
            margin-top: 33vw;
            width: 23vw;
            height: 9vw;

        }
        
        a {
            display: block;
            text-decoration: none;
            width: 5vw;
            height: 5vw;
        }

        .splashtext {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.25vw;
            padding: 0.6vw;
            padding-left: 4.7vw;
            text-decoration: none;
            color: #004BEF;
        }
        .mediatext {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.25vw;
            padding: 0.65vw;
            padding-left: 5.2vw;
            text-decoration: none;
            color: #004BEF;
        }
        .cardtext {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.25vw;
            padding: 0.65vw;
            padding-left: 4.6vw;
            text-decoration: none;
            color: #004BEF;
        }

        .projecttext {
            font-family: "HelveticaNeueCyrRoman";
            font-weight: normal;
            font-style: normal;
            font-size: 1.25vw;
            padding: 0.6vw;
            padding-left: 5.3vw;
            color: #FFFFFF;
        }
        .script {
            font-family: "HelveticaNeueCyrRoman";
            font-weight: normal;
            font-style: normal;
            font-size: 1vw;
            margin-top: 7vw;
            margin-left: -1vw;
            color: #004BEF;
            text-align: center;
        }
        .case {
            font-family: "HelveticaNeueCyrRoman";
            font-weight: normal;
            font-style: normal;
            font-size: 0.9vw;
            margin-top: -40.5vw;
            margin-left: 60vw;
            color: #004BEF;
        }
        .dishtext {
            position: absolute;
            font-family: "HelveticaNeueCyrRoman";
            font-weight: normal;
            font-style: normal;
            font-size: 0.9vw;
            margin-top: -22vw;
            margin-left: 73vw;
            color: #004BEF;
        }
        .knifetext {
            position: absolute;
            font-family: "HelveticaNeueCyrRoman";
            font-weight: normal;
            font-style: normal;
            font-size: 0.9vw;
            margin-top: -6vw;
            margin-left: 59vw;
            color: #004BEF;
        }
        .forktext {
            position: absolute;
            font-family: "HelveticaNeueCyrRoman";
            font-weight: normal;
            font-style: normal;
            font-size: 0.9vw;
            margin-top: 4vw;
            margin-left: 74.5vw;
            color: #004BEF;
        }
         .tea {
            font-family: "HelveticaNeueCyrRoman";
            font-weight: normal;
            font-style: normal;
            font-size: 0.9vw;
            margin-top: 25vw;
            margin-left: 62vw;
            color: #004BEF;
        }
        .heels {
            font-family: "HelveticaNeueCyrRoman";
            font-weight: normal;
            font-style: normal;
            font-size: 0.9vw;
            margin-top: 7vw;
            margin-left: 68vw;
            color: #004BEF;
        }
        .guides {
            font-family: "HelveticaNeueCyrRoman";
            font-weight: 500;
            font-style: normal;
            font-size: 2.3vw;
            margin-top: -26vw;
            margin-left: 66vw;
            color: #004BEF;
            text-align: center;
        }
         .cards {
            position: absolute;
            font-family: "HelveticaNeueCyrRoman";
            font-weight: 500;
            font-style: normal;
            font-size: 2.3vw;
            margin-top: -12vw;
            margin-left: 68vw;
            color: #004BEF;
            text-align: center;
        }
        .what {
            font-family: 'Oranienbaum', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 10.4vw;
            text-align: center;
            margin-top: -31vw;
            color: #004BEF;
        }
        .bag {
            width: 21vw;
            height: 15vw;
            margin-top: -7vw;
            margin-left: 73vw;
            
        }
        .dish {
            position: absolute;
            width: 21vw;
            height: 10vw;
            margin-top: -32vw;
            margin-left: 72vw;
            
        }
        .fork {
            position: absolute;
            width: 5vw;
            height: 30vw;
            margin-top: -16vw;
            margin-left: 85vw;
            
        }
        .knife {
            position: absolute;
            width: 5vw;
            height: 30vw;
            margin-top: -22vw;
            margin-left: 51vw;
            
        }
        
        .cup {
            width: 19vw;
            height: 13vw;
            margin-top: -3vw;
            margin-left: 56vw;
            
        }
        .shoe {
            width: 16vw;
            height: 15vw;
            margin-top: -8vw;
            margin-left: 77vw;
            
        }
        .shift {
            margin-top: 30vw;
            
        }
        .number {
            width: 8vw;
            height: 4vw;
            margin-top: -13vw;
            margin-left: 65vw;
            
        }
       .numbera {
            position: absolute;
            width: 8vw;
            height: 4vw;
            margin-top: -23vw;
            margin-left: 67vw;
        
        }
        .numberb {
            position: absolute;
            width: 8vw;
            height: 4vw;
            margin-top: -10.5vw;
            margin-left: 56.5vw;
        
        }
        .numberc {
            position: absolute;
            width: 8vw;
            height: 4vw;
            margin-top: 3vw;
            margin-left: 68.5vw;
        
        }
        .number6 {
            width: 8vw;
            height: 4vw;
            margin-top: -3vw;
            margin-left: 85vw;
            
        }
        .number3 {
            width: 8vw;
            height: 4vw;
            margin-top: -13vw;
            margin-left: 50vw;
            
        }
         .arroww {
            width: 16vw;
            height: 11vw;
            margin-top: -7vw;
            margin-left: 55vw;
            
        }
         .aroww2 {
            width: 18vw;
            height: 13vw;
            margin-top: -8vw;
            margin-left: 74vw;
            
        }
         .arrow3 {
            position: absolute;
            width: 16vw;
            height: 11vw;
            margin-top: -21vw;
            margin-left: 55vw;
            
        }
        .arrow4 {
            position: absolute;
            width: 16vw;
            height: 11vw;
            margin-top: -3vw;
            margin-left: 58vw;
            
        }

        .us {
            font-family: 'Oranienbaum', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 5.2vw;
            margin-top: 15vw;
            margin-left: 3.8vw;
            color: #004BEF;
        }

        .platform {
            font-family: 'Snell Roundhand', arial;
            font-style: normal;
            font-weight: normal;
            font-size: 5vw;
            text-align: center;
            margin-left: -1.7vw;
            margin-top: -0.6vw;
            color: #004BEF;

        }
        .tuned {
            font-family: 'Snell Roundhand', arial;
            font-style: normal;
            font-weight: normal;
            font-size: 3vw;
            text-align: center;
            margin-left: -1.7vw;
            margin-top: -16.6vw;
            color: #004BEF;

        }

        .mock {
            background-image: url('./images/mo.svg');
            background-size: cover;
            width: 55vw;
            height: 35vw;
            margin-top: 10vw;
            margin-left: 39vw;
        }

        .description {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.5vw;
            margin-left: 4vw;
            margin-top: -13.6vw;
            width: 36vw;
            color: #004BEF;
        }

        .description2 {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.5vw;
            margin-left: 4vw;
            margin-top: 1.4vw;
            width: 37vw;
            color: #004BEF;
        }
        .description22 {
            display: none;
        }

        .description3 {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.5vw;
            margin-left: 4vw;
            margin-top: 1.4vw;
            width: 36vw;
            color: #004BEF;
        }
        .hashtag {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1vw;
            margin-left: 10vw;
            margin-top: 0.4vw;
             color: #004BEF;
        }
        .hashtag2 {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1vw;
            margin-left: 36vw;
            margin-top: -1.2vw;
            color: #004BEF;
        }
        .hashtag3 {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1vw;
            margin-left: 57.5vw;
            margin-top: -1.2vw;
            color: #004BEF;
        }
        .hashtag4 {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1vw;
            margin-left: 81.5vw;
            margin-top: -1.2vw;
            color: #004BEF;
        }
        .liner {
            width: 93vw;
            height: 0.15vw;
            margin-left: 3.5vw;
            margin-top: 1.3vw;
            background: #004BEF;
        }
         .last {
            width: 100vw;
            height: 10vw;
            margin-top: 17vw;
            background: #004BEF;
        }


        .why {
            font-family: 'Oranienbaum', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 5.2vw;
            margin-top: -51vw;
            margin-left: 4vw;
            color: #004BEF;
        }

        .kvadrat {
            background: #D9D8FF;
            width: 100vw;
            height: 56vw;
            margin-top: 17vw;
        }

        .blue1 {
            position: absolute;
            margin-top: -25.5vw;
            margin-left: 19.5vw;
            width: 6vw;
            height: 8vw;
        }
        .blue5 {
            position: absolute;
            margin-top: -25.5vw;
            margin-left: 42.5vw;
            width: 6vw;
            height: 8vw;
        }
        .blue6 {
            position: absolute;
            margin-top: -25.5vw;
            margin-left: 65.5vw;
            width: 6vw;
            height: 8vw;
        }
        .blue11 {
            position: absolute;
            margin-top: -25.5vw;
            margin-left: 88.5vw;
            width: 6vw;
            height: 8vw;
        }
        

       
        .description4 {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.5vw;
            margin-top: 2vw;
            color: #004BEF;
            text-align: center;
        }

        .description5 {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.5vw;
            margin-top: 1.8vw;
            color: #004BEF;
            text-align: center;
        }

         .wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 2vw;
        }
        .pic1 {
            width: 23vw;
            padding: 0.8vw;
        }
        .pic2 {
            width: 23vw;
            padding: 0.8vw;
        }
        .pic3 {
            width: 23vw;
            padding: 0.8vw;
        }
        .pic4 {
            width: 23vw;
            padding: 0.8vw;
        }
        .for {
            font-family: 'Oranienbaum', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 5.2vw;
            margin-top: 12vw;
            margin-left: 4vw;
            color: #004BEF;
        }

        .description6 {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.5vw;
            margin-left: 4vw;
            margin-top: 3vw;
            width: 36vw;
            color: #004BEF;
        }

        .description7 {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.5vw;
            margin-left: 4vw;
            margin-top: 1.8vw;
            width: 36vw;
            color: #004BEF;
        }

        .mail {
            position: absolute;
            font-family: 'Oranienbaum', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 5.2vw;
            margin-top: -33vw;
            margin-left: 30vw;
            text-align: center;
            color: #004BEF;
        }

        .form {
            margin-left: 4vw;
            margin-top: 4vw;
            width: 60vw;
            height: 4vw;
            font-size: 1.5vw;
        }

        .mailme {
            position: absolute;
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 2vw;
            height: 4vw;
            width: 24vw;
            margin-top: -24vw;
            margin-left: 30vw;
            color: #C1C1C1;
            background-color: #FFFFFF;
            border: 0.2vw solid #004BEF;
            border-radius: 3vw
        }
        ::placeholder {
         color: #C1C1C1;
         font-size: 2vw;
         padding: 1.5vw;
        }

        #my-form-button {
            position: absolute;
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 2vw;
            height: 4vw;
            width: 14vw;
            margin-top: -24vw;
            margin-left: 56vw;
            color: #FFFFFF;
            background-color: #004BEF;
            border: 0.2vw solid #004BEF ;
            border-radius: 3vw;
        }

        #my-form-status {
            position: absolute;
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.5vw;
            margin-left: 31vw;
            margin-top: -3.7vw;
            width: 36vw;
        }

        #my-form-button:hover {
            cursor: pointer;
        }

        .line {
            width: 40vw;
            height: 0.2vw;
            background-color: #004BEF;
            margin-top: 1vw;
            margin-left: 30vw;

        }

        .me {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.2vw;
            margin-left: 19.3vw;
            margin-top: -6.3vw;
            color: #FFFFFF;
        }

        .sasha {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.2vw;
            margin-left: 19.3vw;
            margin-top: 0.5vw;
            color: #FFFFFF;
        }

        .dasha {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.2vw;
            margin-left: 19.3vw;
            margin-top: 0.5vw;
            margin-bottom: 3vw;
            color: #FFFFFF;
        }

        .hse {
            background-image: url('./images/whitehse.svg');
            background-size: cover;
            width: 12vw;
            height: 4.7vw;
            margin-top: -5vw;
            margin-left: 83vw;
            margin-bottom: 3vw;
        }

        .curators {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.2vw;
            margin-left: 40vw;
            margin-top: -7.65vw;
            margin-bottom: 3vw;
            color: #FFFFFF;
        }

        .sofia {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.2vw;
            margin-left: 40vw;
            margin-top: -2.35vw;
            margin-bottom: 3vw;
            color: #FFFFFF;
        }

        .anna {
            font-family: "HelveticaNeueCyrRoman";
            font-style: normal;
            font-weight: normal;
            font-size: 1.2vw;
            margin-left: 40vw;
            margin-top: -2.5vw;
            margin-bottom: 3vw;
            color: #FFFFFF;
        }

        .whitevk {
            background-image: url('./images/whitevk.svg');
            background-size: cover;
            width: 6vw;
            height: 3.6vw;
            margin-left: 64vw;
            margin-top: -7vw;
            cursor: pointer;
        }

        .whitetg {
            background-image: url('./images/whitetg.svg');
            background-size: cover;
            width: 6vw;
            height: 5vw;
            scale: 0.85;
            margin-left: 72vw;
            margin-top: -5.6vw;
            cursor: pointer;
        }

        .wrap {
            scale: 0.8;
            margin-top: -9vw;
        }
        .mobileoval {
           display: none;
        }
        .mobileoval2 {
           display: none;
        }
        .mail2 {
           display: none;
        }



    }
}