@media only screen and (min-width: 1025px) {

    body {
        background-color: #FFFBF7;
    }

    .photos1 {
        width: 70vw;
        height: auto;
    }
    .PP {
        background-image: url('../images/first.png');
        background-size: cover;
        width: 58vw;
        height: 32.5vw;
    }
}