* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: var(--white);
}

body {
    font-family: 'Helvetica';
    // font-family: 'PT Root UI', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

// .images {
//     display: flex;

//     * {
//         width: 24px;
//         height: 24px;
//         margin: 0 10px;
//     }

//     // .image {
//     //     &#bgPNG {
//     //     }

//     //     &#bgJPG {
//     //     }

//     //     &#bgSVG {
//     //     }
//     // }
// }