@media only screen and (min-width: 500px) {
body.film1 {
    .bold {
            font-style: normal;
            font-weight: bold;
    }

    #S_ArticleHeading {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        gap: 0.78vw;
        
        .A_article_main_image {
            // width: 88.83vw;
            // height: 27.43vw;
            background-image: url('images/A_article_main_image_5mistakes.png');
            background-size: cover;
        }
        
        .W_article_first_page_text {
            gap: 1.20vw;
        }
    }

    #S_ArticleBlock {
        &.Lizzie {
            #O_ArticleVerticalImage {
                #Liz.M_article_oval_framed_image_with_text {
                    background-image: url('images/M_article_oval_framed_image_with_text_lizzie.png');
                    background-size: cover;
                }
            }
        }
        &.tit {
            #O_ArticleVerticalImage {
                #tit.M_article_oval_framed_image_with_text {
                    background-image: url('images/M_article_round_framed_image_with_number_tit.png');
                    background-size: cover;
                }
            }
        }
        &.brig {
            #O_ArticleVerticalImage {
                #brig.M_article_oval_framed_image_with_text {
                    background-image: url('images/M_article_round_framed_image_with_number_brig.png');
                    background-size: cover;
                }
            }
        }
    }

    #S_ArticleBlockWithNumbers {
        &.mia {
            #O_image_with_number_and_signature {
                #mia.W_image_with_number {
                    background-image: url('images/W_image_with_number_mia.png');
                    background-size: cover;
                }
            }
        }
    
        &.pp {
            #O_image_with_number_and_signature {
                #pp.W_image_with_number {
                    background-image: url('images/M_image_with_number_p&p.png');
                    background-size: cover;
                
                }
            }
        }
    }

    #O_article_big_photo {
        &.titanic {
            background-image: url('images/O_article_big_photo_titanic.png');
            background-size: cover;
        }
    }

    #O_ArticleVerticalImage {
        .A_avatar_image{
            &.fibi {
                background-image: url('images/A_avatar_image_fibi.png');
                background-size: cover;
            }
            &.jhan {
                background-image: url('images/A_avatar_image_jhan.png');
                background-size: cover;
            }
            &.rut {
                background-image: url('images/A_avatar_image_rut.png');
                background-size: cover;
            }
            &.leo {
                background-image: url('images/A_avatar_image_leo.png');
                background-size: cover;
            }
            &.billie {
                background-image: url('images/A_avatar_image_billie.png');
                background-size: cover;
            }
            &.kate {
                background-image: url('images/A_avatar_image_kate.png');
                background-size: cover;
            }
            &.clare {
                background-image: url('images/A_avatar_image_klare.png');
                background-size: cover;
            }
            &.olivia {
                background-image: url('images/A_avatar_image_olivia.png');
                background-size: cover;
            }
            &.matt {
                background-image: url('images/A_avatar_image_matt.png');
                background-size: cover;
            }
        } 
    }

    #O_recommendation_card {
        .Q_recommendation_card_image {
            &.more {
                background-image: url('images/Q_recommendation_card_image_more.png');
                background-size: cover; 
            }
            &.lift {
                background-image: url('images/Q_recommendation_card_image_lift.png');
                background-size: cover; 
            }
            &.ann {
                background-image: url('images/Q_recommendation_card_image_ann.png');
                background-size: cover; 
            }
        }
    }
}
}


//мобилка
@media only screen and (max-width: 499px) {
body.film1 {
    .bold {
            font-style: normal;
            font-weight: bold;
    }

    #S_ArticleHeading {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.78vw;
        
        .A_article_main_image {
            // width: 88.83vw;
            // height: 27.43vw;
            background-image: url('images/A_article_main_image_5mistakes.png');
            background-size: cover;
        }
        
        .W_article_first_page_text {
            gap: 1.20vw;
        }
    }

    #S_ArticleBlock {
        &.Lizzie {
            #O_ArticleVerticalImage {
                #Liz.M_article_oval_framed_image_with_text {
                    background-image: url('images/M_article_oval_framed_image_with_text_lizzie.png');
                    background-size: cover;
                }
            }
        }
        &.tit {
            #O_ArticleVerticalImage {
                #tit.M_article_oval_framed_image_with_text {
                    background-image: url('images/M_article_round_framed_image_with_number_tit.png');
                    background-size: cover;
                }
            }
        }
        &.brig {
            #O_ArticleVerticalImage {
                #brig.M_article_oval_framed_image_with_text {
                    background-image: url('images/M_article_round_framed_image_with_number_brig.png');
                    background-size: cover;
                }
            }
        }
    }

    #S_ArticleBlockWithNumbers {
        &.mia {
            #O_image_with_number_and_signature {
                #mia.W_image_with_number {
                    background-image: url('images/W_image_with_number_mia.png');
                    background-size: cover;
                }
            }
        }
    
        &.pp {
            #O_image_with_number_and_signature {
                #pp.W_image_with_number {
                    background-image: url('images/M_image_with_number_p&p.png');
                    background-size: cover;
                
                }
            }
        }
    }

    #O_article_big_photo {
        &.titanic {
            background-image: url('images/O_article_big_photo_titanic.png');
            background-size: cover;
        }
    }

    #O_ArticleVerticalImage {
        .A_avatar_image{
            &.fibi {
                background-image: url('images/A_avatar_image_fibi.png');
                background-size: cover;
            }
            &.jhan {
                background-image: url('images/A_avatar_image_jhan.png');
                background-size: cover;
            }
            &.rut {
                background-image: url('images/A_avatar_image_rut.png');
                background-size: cover;
            }
            &.leo {
                background-image: url('images/A_avatar_image_leo.png');
                background-size: cover;
            }
            &.billie {
                background-image: url('images/A_avatar_image_billie.png');
                background-size: cover;
            }
            &.kate {
                background-image: url('images/A_avatar_image_kate.png');
                background-size: cover;
            }
            &.clare {
                background-image: url('images/A_avatar_image_klare.png');
                background-size: cover;
            }
            &.olivia {
                background-image: url('images/A_avatar_image_olivia.png');
                background-size: cover;
            }
            &.matt {
                background-image: url('images/A_avatar_image_matt.png');
                background-size: cover;
            }
        } 
    }

    #O_recommendation_card {
        .Q_recommendation_card_image {
            &.more {
                background-image: url('images/Q_recommendation_card_image_more.png');
                background-size: cover; 
            }
            &.lift {
                background-image: url('images/Q_recommendation_card_image_lift.png');
                background-size: cover; 
            }
            &.ann {
                background-image: url('images/Q_recommendation_card_image_ann.png');
                background-size: cover; 
            }
        }
    }
}
}