// Bitum

@font-face {
  font-family: "BitumLightItalic";
  src: url("./fonts/BitumLightItalic/BitumLightItalic.eot");
  src: url("./fonts/BitumLightItalic/BitumLightItalic.woff") format("woff"),
      url("./fonts/BitumLightItalic/BitumLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

// Helvetica

@font-face {
  font-family: "HelveticaNeueCyrRoman";
  src: url("./fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.eot");
  src:  url("./fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.woff") format("woff"),
    url("./fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

