@media only screen and (min-width: 1024px) {

    nav {
        top: 0vw;
        width: 100%;
        display: block;
        height: 6.16vw;
    }
    nav > .menu-items {
        width: 92.50vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav > .menu-items > a {
        margin-top: 1vw;
        line-height: 2.29vw;
        color: #000;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        text-decoration: none;
    }
}