@media only screen and (min-width: 500px) {
body.b {
    width: 100%;
    height: 449.10vw;
    background-image: url('images/preview_back.png');
    background-size: cover;

    #S_preview {
        &.intro {
            .O_previewBlock {
                .A_heading.this {
                    margin-left: 12vw;
                }
                .Q_mainStroke.curcle{
                margin-left: 8vw;
                }
            }
        }
        &.tages {
            height: 39vw;
            .A_heading{
                margin-left: 8vw;
            }
        }
        &.influencers {
            &.W_about_main_text {
                margin-top: 3vw;
            }
        }
        &.create {
            align-items: center;
            .O_previewBlockWithButton {
                margin-left: -27vw;
                margin-top: -11vw;
                .A_previewArtText {
                    width: 21vw;
                }
            }
        }
        &.films {
            .O_previewBlock {
                    align-items: normal;
                    justify-content: center;
                    margin-left: 23vw;
                .A_previewArtText {
                    width: 27vw;
                }
            }
        }
        &.tests {
            padding: 4vw 3vw 16vw;
            .O_previewBlock {
                justify-content: center;
                gap: 12vw;
                .M_cardFlip {
                    margin-left: -11vw;
                }
                .A_previewArtText {
                    width: 25vw;
                }
            }
        }
    }

    #S_mail {
        &.W_FormInput {
            #my-form {
                display: flex;
                align-items: center;
                gap: 1vw;
            }
        }
    }
}
}

//мобилка
@media only screen and (max-width: 499px) {
body.b {
    width: 100%;
    height: 449.10vw;
    background-image: url('images/preview_back.png');
    background-size: cover;

    #S_preview {
        &.intro {
            .O_previewBlock {
                .A_heading.this {
                    margin-left: 12vw;
                }
                .Q_mainStroke.curcle{
                margin-left: 8vw;
                }
            }
        }
        &.tages {
            height: 39vw;
            .A_heading{
                margin-left: 8vw;
            }
        }
        &.influencers {
            &.W_about_main_text {
                margin-top: 3vw;
            }
        }
        &.create {
            align-items: center;
            .O_previewBlockWithButton {
                margin-left: -27vw;
                margin-top: -11vw;
                .A_previewArtText {
                    width: 21vw;
                }
            }
        }
        &.films {
            .O_previewBlock {
                    align-items: normal;
                    justify-content: center;
                    margin-left: 23vw;
                .A_previewArtText {
                    width: 27vw;
                }
            }
        }
        &.tests {
            padding: 4vw 3vw 16vw;
            .O_previewBlock {
                justify-content: center;
                gap: 12vw;
                .M_cardFlip {
                    margin-left: -11vw;
                }
                .A_previewArtText {
                    width: 25vw;
                }
            }
        }
    }

    #S_mail {
        &.W_FormInput {
            #my-form {
                display: flex;
                align-items: center;
                gap: 1vw;
            }
        }
    }
}
}