body.index {
  background-color: #FFFBF7;
  flex-direction: column;
  h1 {
    font-family: "BitumLightItalic";
    font-style: italic;
    font-weight: normal;
    font-size: 3vw;
    margin-left: 4vw;
    margin-top: 4vw;
}

.splash {
    width: 20vw;
    height: 5vw;
    background-color: #9FD3AD;
    border: 0.2vw solid black;
    margin-left: 53vw;
    margin-top: -4vw;

}

.project {
    width: 20vw;
    height: 5vw;
    background-color: #FFFBF7;
    border: 0.21vw solid black;
    margin-left: 76vw;
    margin-top: -5vw;

}

a {
    text-decoration: none;
}

.splashtext {
    font-family: "BitumLightItalic";
    font-style: italic;
    font-weight: normal;
    font-size: 2vw;
    margin-left: 4.3vw;
    margin-top: 1.4vw;
    text-decoration: none;
    // cursor:pointer;
}

.projecttext {
  font-family: "HelveticaNeueCyrRoman";
  font-style: normal;
  font-weight: normal;
  font-size: 2.21vw;
  margin-left: 3.8vw;
  margin-top: 1.5vw;
  text-decoration: none;
  color: black;
  cursor:pointer;
}
.nach {
  display: flex;
  flex-direction: column;
  margin-top: 4.7vw;
  margin-left: 3.47vw;
  background-image: url('./images/nach.svg');
  background-size: cover;
  width: 92.7vw;
  height: 46.6vw;
}
h2 {
  font-family: "BitumLightItalic";
  font-style: italic;
  font-weight: normal;
  text-align: center;
  font-size: 6.94vw;
  margin-left: 3vw;
  margin-top: 10vw;
}
h3 {
  font-family: "HelveticaNeueCyrRoman";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  margin-left: 10.1vw;
  margin-top: 1.9vw;
  color: black;
}
h4 {
  font-family: "HelveticaNeueCyrRoman";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  margin-left: 71.1vw;
  margin-top: -1.5vw;
  color: black;
}
.vtoroe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92.7vw;
  height: 59.24vw;
  margin-top: 3.26vw;
  margin-left: 3.47vw;
}
.connect {
  display: flex;
  flex-direction: column;
  height: 59.24vw;
  width: 57.92vw;
  background-image: url('./images/forma.svg');
  background-size: cover;
}
p {
  font-family: "HelveticaNeueCyrRoman";
  font-style: normal;
  font-weight: normal;
  color: black;
  font-size: 2.22vw;
}
.t1 {
  margin-left: 10vw;
  margin-top: 3.8vw;
}
h5 {
  font-family: "BitumLightItalic";
  font-style: italic;
  font-weight: normal;
  font-size: 2.22vw;
  margin-left: 25.2vw;
  margin-top: -2.4vw;
  color: black;
}
.t2 {
  margin-left: 31vw;
  margin-top: -2vw;
}
.t3 {
  margin-left: 10vw;
  margin-top: 0.2vw;
}
.mailme {
  position: absolute;
  width: 42.71vw;
  height: 3.68vw;
  margin-top: -50vw;
  margin-left: 13.5vw;
  border: 0.21vw solid black;
  background-color: #FFFBF7;
  cursor: pointer;
}
#my-form-button {
  position: absolute;
  background-color: #9FD3AD;
  border: 0.21vw solid black;
  width: 11.53vw;
  height: 3.68vw;
  margin-top: -43.1vw;
  margin-left: 13.5vw;
  font-family: "HelveticaNeueCyrRoman";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  color: black;
  cursor: pointer;
}
.stiker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 59.24vw;
  width: 31.88vw;
}
.info {
  width: 31.88vw;
  height: 24.6vw;
  border: 0.21vw solid black;
  background-color: #FFFBF7;
}
.t4 {
  margin-left: 4.3vw;
  margin-top: 3.6vw;
}
.t5 {
  margin-left: 10vw;
  margin-top: 31.9vw;
}
.arrow {
  width: 1.9vw;
  height: 5.65vw;
  margin-top: 6vw;
  margin-left: 27vw;
}
.code {
  width: 31.88vw;
  height: 31.74vw;
  background-image: url('./images/code.svg');
  background-size: cover;
}
.vk {
  display: flex;
  background-image: url('./images/vk.png');
  background-size: cover;
  width: 3.96vw;
  height: 3.82vw;
  margin-left: 10vw;
  margin-top: 2.5vw;
}
.tg {
  display: flex;
  background-image: url('./images/tg.png');
  background-size: cover;
  width: 4.2vw;
  height: 4.2vw;
  margin-left: 16vw;
  margin-top: -4vw;
}
.yt {
  display: flex;
  background-image: url('./images/yt.png');
  background-size: cover;
  width: 4.6vw;
  height: 3.7vw;
  margin-left: 22.4vw;
  margin-top: -3.9vw;
}
.space {
  display: flex;
  width: 92.7vw;
  margin-left: 3.47vw;
  height: 3.26vw;
}

}
