@media only screen and (min-width: 500px) {
  body.influensers {
    .bold {
      font-style: normal;
      font-weight: bold;
    }
    #S_SectionFirst {
      .Q_big_oval_image {
        background-image: url('images/Q_big_oval_image2.png');
        background-size: cover;
        width: 82vw;
      }
    }
    #S_LongCardsBlock {
      .Q_rectangle_image {
        background-image: url('images/M_bigger_thin_horizontal_card_image.png');
        background-size: cover;
        height: 25vw;
      }
    }
    #O_VerticalCardWithRoundImage {
      .Q_horizontal_oval_card_image {
        margin-top: 1vw;
        height: 25vw;
        width: 20vw;
        &.anna {
          background-image: url('images/AnnaVintur.png');
          background-size: cover;
        }
        &.kylie {
          background-image: url('images/ky.png');
          background-size: cover;
          width: 20vw;
        }
      }
      .W_CardText {
        margin-top: 0.47vw;
      }
      .W_CardText {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vw 1vw 3vw 1vw;

        .M_tag_default {
          margin-top: 1vw;
        }
      }
    }
    
  }
  #O_little_horizontal_card {
    display: flex;
    flex-direction: column;
    width: 30.14vw;
    height: 34.67vw;
    border: solid 0.14vw var(--blue);
    border-radius: 0.42vw;

    .M_horizontal_oval_card_image {
      margin-top: 2.85vw;
      margin-left: 1.46vw;
    }

    .elements3 {
      margin-top: 3.13vw;
      margin-left: 6.18vw;
    }
  }
  #S_LongCardsBlock {
    .Q_horizontal_oval_card_image {
      margin-top: 1vw;
      height: 25vw;
      width: 20vw;

      &.eli {
        background-image: url('images/Elizaveta.png');
        background-size: cover;
        width: 26.5vw;
        height: 16.3vw;
        margin-top: 1.5vw;
      }

      &.kate {
        background-image: url('images/kat.png');
        background-size: cover;
        width: 27.5vw;
        height: 18vw;
        margin-top: 1vw;
      }

      &.an {
        background-image: url('images/Ann.png');
        background-size: cover;
        width: 26.5vw;
        height: 16.3vw;
        margin-top: 1.5vw;
      }
    }

    .W_CardText {
      margin-top: 0.47vw;
    }

    .W_CardText {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2vw;

      .M_tag_default {
        margin-top: 1vw;
      }
    }
  }
}

@media only screen and (max-width: 499px) {
  body.influensers {
    #S_SectionFirst {
      .A_MobileMainImage {
        background-image: url('images/mobinf.png');
        background-size: cover;
      }
    }

    .M_tag_default {
      margin-top: 3vw;
    }

    #O_VerticalCardWithRoundImage {
      .Q_horizontal_oval_card_image {
        margin-top: 1vw;
        height: 25vw;
        width: 20vw;

        &.anna {
          background-image: url('images/mobanna.png');
          background-size: cover;
          width: 88vw;
          height: 50vw;
        }

        &.kylie {
          background-image: url('images/mobkyl.png');
          background-size: cover;
          width: 88vw;
          height: 50vw;
        }
      }
    }

    #S_LongCardsBlock {
      margin-top: 16.7vw;

      .Q_rectangle_image {
        background-image: url('images/spoilmob.png');
        background-size: cover;
        width: 88vw;
        height: 50vw;
      }
    }

    #S_LongCardsBlock {
      margin-top: 16.7vw;

      .Q_horizontal_oval_card_image {
        &.eli {
          background-image: url('images/mobeliz.png');
          background-size: cover;
          width: 88vw;
          height: 50vw;
        }

        &.kate {
          background-image: url('images/mobkate.png');
          background-size: cover;
          width: 88vw;
          height: 50vw;
        }

        &.an {
          background-image: url('images/kuku.png');
          background-size: cover;
          width: 88vw;
          height: 50vw;
        }
      }
    }

    #O_VerticalCardWithRoundImage {
      display: flex;
      flex-direction: column;
      width: 93.06vw;
      height: 75.74vw;
      border: solid 0.4vw #204bf1;
      border: solid 0.4vw var(--blue);
      border-radius: 1vw;
      padding: 2.5vw;
      gap: 6vw;
    }

    #O_little_horizontal_card {
      display: flex;
      flex-direction: column;
      width: 93.06vw;
      height: 75.74vw;
      border: solid 0.4vw #204bf1;
      border: solid 0.4vw var(--blue);
      border-radius: 1vw;
      padding: 2.5vw;
      gap: 6vw;
    }

    .none {
      display: none;
    }

    .invisble {
      opacity: 0;
    }
  }
}
