@media only screen and (min-width: 500px) {

    body.pages {

        background-color: #FFFBF7;


    // шапка
        nav {
                margin-top: 1vw;
                margin-left: 5vw;
                width: 100%;
                display: block;
                height: 6.16vw;
            }
        
            nav>.menu-items {
                width: 92.50vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        
            nav>.menu-items>a {
                margin-top: 1vw;
                line-height: 2.29vw;
                color: #000;
                font-family: 'BitumLightItalic';
                font-size: 3vw;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
            }

        // тело


        p {
            font-family: 'HelveticaNeueCyrRoman';
            font-size: 1.5vw;
        }
        br {
            margin-top: 2vw;
        }
        .h3_1 {
            width: 40vw;
            font-family: 'HelveticaNeueCyrRoman';
            font-size: 2.5vw;
            line-height: normal;
            text-transform: uppercase;
        }

        .h3_2 {
            font-family: 'BitumLightItalic';
            font-size: 2.5vw;
            line-height: normal;
            text-transform: uppercase;
            text-align: center;
        }
        .under {
            margin-top: 1vw;
            text-align: center;
            font-size: 1vw;
        }

        .t {
            width: 41vw;
        }
        .t_0 {
            width: 47vw;
        }


        // фотка и название
        .photos1 {
            display: flex;
            position: relative;
            width: 70vw;
            height: auto;
            margin-left: 13vw;
        }
        
        .PP {
            background-image: url('./images/first.png');
            background-size: cover;
            width: 70vw;
            height: 39.5vw;
            position: absolute;
            margin-left: 12vw;
        }

        .pp {
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 3px solid #000;
        }
        .pla1 {
            width: 25.3vw;
            height: 18.2vw;
            margin-top: 14vw;
            margin-left: -8vw;
        }

        .name {
            position: absolute;
            z-index: 2;
            background-color: white;
            border: 3px solid #000;
            width: 25.3vw;
            height: 18.2vw;
            margin-top: 11vw;
            margin-left: -5vw;
        }

        .h2_1 {
            width: 25vw;
            text-align: center;
            font-family: 'BitumLightItalic';
            font-size: 3vw;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            margin-top: 2.5vw;
        }
        

        // первая плашка

        .first {
            display: flex;
            position: relative;
            margin-top: 42vw;
            margin-left: 1vw;
        }
        .f {
            position: absolute;
            z-index: 2;
            width: 87vw;
            height: 11vw;
            background-color: white;
            border: 3px solid #000;
            margin-left: 7vw;
        }
        .pla2 {
            margin-top: 3vw;
            margin-left: 4vw;
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 3px solid #000;
            width: 87vw;
            height: 11vw;
        }

        .text {
            margin-top: 2vw;
            margin-left: 2vw;
        }
        .tag {
            width: 13vw;
            height: 3vw;
            border: 3px solid #000;
            background: #9FD3AD;
            text-transform: uppercase;
            text-align: center;
            padding: 0.5vw;
            margin-left: 72.5vw;
        }

        // первый текст статьи

        .second {
            display: flex;
            width: 90vw;
            margin-top: 17vw;
            margin-left: 5vw;
        }
        .t_1 {
            margin-top: 1vw;
        }
        .text2 {
            margin-top: 11vw;
        }
        .form2 {
            position: absolute;
            z-index: 2;
            width: 18.2vw;
            height: 25.3vw;
            background-color: white;
            border: 3px solid #000;
            margin-left: 28vw;
            margin-top: 31vw;
        }
        .crown {
            margin-top: 9vw;
        }
        .pla4 {
            margin-top: 33.2vw;
            margin-left: 19.8vw;
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 3px solid #000;
            width: 18.2vw;
            height: 25.3vw;
        }
        .lizzie {
            background-image: url('./images/second.png');
            background-size: cover;
            width: 38vw;
            height: 58.5vw;
            border: 3px solid #000;
            margin-left: 11vw;
        }


        // второй текст статьи

        .third {
            display: flex;
            width: 90vw;
            margin-top: 4vw;
            margin-left: 5vw;
        }
        .t_1 {
            margin-top: 1vw;
        }
        .text3 {
            margin-top: 13vw;
            margin-left: 5vw;
        }
        .form3 {
            position: absolute;
            z-index: 2;
            width: 18.2vw;
            height: 25.3vw;
            background-color: white;
            border: 3px solid #000;
            margin-left: 18vw;
            margin-top: 31.6vw;
        }
        .princess {
            margin-top: 6.5vw;
        }
        .pla3 {
            margin-top: 33.2vw;
            margin-left: 30.8vw;
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 3px solid #000;
            width: 18.2vw;
            height: 25.3vw;
        }
        .mia {
            background-image: url('./images/third.png');
            background-size: cover;
            width: 38vw;
            height: 58.5vw;
            border: 3px solid #000;
        }


        // третий текст статьи

        .fourth {
            display: flex;
            width: 90vw;
            margin-top: 4vw;
        }
        .t_1 {
            margin-top: 1vw;
        }
        .text4 {
            margin-top: 6vw;
            margin-left: 5vw;
        }
        .form4 {
            position: absolute;
            z-index: 2;
            background-color: white;
            border: 3px solid #000;
            height: 18.2vw;
            width: 25.3vw;
            margin-top: 18.2vw;
            margin-left: 22.7vw;
        }
        .titanic {
            margin-top: 5vw;
        }
        .pla5 {
            margin-top: 20.2vw;
            margin-left: 24.7vw;
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 3px solid #000;
            height: 18.2vw;
            width: 25.3vw;
        }
        .rose {
            background-image: url('./images/fourth.png');
            background-size: cover;
            width: 49vw;
            height: 38.5vw;
            border: 3px solid #000;
            margin-left: 1vw;
        }


        // четвёртый текст статьи

        .fifth {
            display: flex;
            width: 90vw;
            margin-top: 4vw;
            margin-left: 4vw;
        }
        .t_1 {
            margin-top: 1vw;
        }
        .text5 {
            margin-top: 17vw;
            margin-left: 5vw;
        }
        .form5 {
            position: absolute;
            z-index: 2;
            background-color: white;
            border: 3px solid #000;
            width: 18.2vw;
            height: 25.3vw;
            margin-left: 18vw;
            margin-top: 31.6vw;
        }
        .PaP {
            margin-top: 6vw;
        }
        .pla6 {
            margin-top: 33.2vw;
            margin-left: 20.8vw;
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 3px solid #000;
            width: 18.2vw;
            height: 25.3vw;
        }
        .darcy {
            background-image: url('./images/fifth.png');
            background-size: cover;
            width: 38vw;
            height: 58.5vw;
            border: 3px solid #000;
            margin-left: 1vw;
        }


        // четвёртый текст статьи

        .sixth {
            display: flex;
            width: 90vw;
            margin-top: 4vw;
        }
        .t_1 {
            margin-top: 1vw;
        }
        .text6 {
            margin-top: 9vw;
            margin-left: 5vw;
        }
        .form6 {
            position: absolute;
            z-index: 2;
            background-color: white;
            border: 3px solid #000;
            height: 18.2vw;
            width: 25.3vw;
            margin-top: 18.2vw;
            margin-left: 22.7vw;
        }
        .brig {
            margin-top: 5vw;
        }
        .pla7 {
            margin-top: 20.2vw;
            margin-left: 24.7vw;
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 3px solid #000;
            height: 18.2vw;
            width: 25.3vw;
        }
        .guys {
            background-image: url('./images/sixth.png');
            background-size: cover;
            width: 49vw;
            height: 38.5vw;
            border: 3px solid #000;
            margin-left: 1vw;
        }

    }

   
}

