@media only screen and (max-width: 499px) and (min-width: 1px) {

    body.pages {

        background-color: #FFFBF7;


    // шапка
        nav {
                margin-top: 3vw;
                margin-left: 2vw;
                width: 100%;
                display: block;
                height: 6.16vw;
            }
        
            nav>.menu-items {
                width: 92.50vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        
            nav>.menu-items>a {
                margin-top: 1vw;
                line-height: 2.29vw;
                color: #000;
                font-family: 'BitumLightItalic';
                font-style: normal;
                font-weight: 400;
                font-size: 5vw;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
            }

        // тело


        p {
            font-family: 'HelveticaNeueCyrRoman';
            font-size: 3vw;
        }
        br {
            margin-top: 2vw;
        }
        .h3_1 {
            width: 73vw;
            font-family: 'HelveticaNeueCyrRoman';
            font-size: 4.5vw;
            line-height: normal;
            text-transform: uppercase;
        }

        .h3_2 {
            font-family: 'BitumLightItalic';
            font-size: 6.5vw;
            line-height: normal;
            text-transform: uppercase;
            text-align: center;
        }
        .under {
            margin-top: 1vw;
            text-align: center;
            font-size: 2vw;
        }

        .t {
            width: 86vw;
        }
        
        .t_0 {
            width: 59vw;
        }


        // фотка и название
        .photos1 {
            margin-top: 2vw;
            display: flex;
            position: relative;
            width: 70vw;
            height: auto;
            margin-left: 13vw;
        }
        
        .PP {
            background-image: url('./images/first.png');
            background-size: cover;
            width: 92vw;
            height: 68vw;
            position: absolute;
            margin-left: -9.5vw;
        }

        .pp {
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 2px solid #000;
        }
        .pla1 {
            width: 46vw;
            height: 32vw;
            margin-top: 36vw;
            margin-left: -9.5vw;
        }

        .name {
            position: absolute;
            z-index: 2;
            background-color: white;
            border: 2px solid #000;
            width: 46vw;
            height: 32vw;
            margin-top: 31vw;
            margin-left: -5vw;
        }

        .h2_1 {
            width: 32vw;
            text-align: center;
            font-family: 'BitumLightItalic';
            font-size: 5vw;
            line-height: normal;
            text-transform: uppercase;
            margin-top: 2.5vw;
            margin-left: 6vw;
        }
        

        // первая плашка

        .first {
            display: flex;
            position: relative;
            margin-top: 71vw;
            margin-left: 1vw;
        }
        .f {
            position: absolute;
            z-index: 2;
            width: 87vw;
            height: 24vw;
            background-color: white;
            border: 2px solid #000;
            margin-left: 7vw;
        }
        .pla2 {
            margin-top: 3vw;
            margin-left: 4vw;
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 2px solid #000;
            width: 87vw;
            height: 24vw;
        }

        .text {
            margin-top: 2vw;
            margin-left: 2vw;
        }
        .tag {
            width: 24vw;
            height: 5vw;
            border: 2px solid #000;
            background: #9FD3AD;
            text-transform: uppercase;
            text-align: center;
            padding: 0.5vw;
            margin-left: 60.8vw;
        }

        // первый текст статьи

        .second {
            display: flex;
            flex-direction: column;
            width: 90vw;
            margin-top: 14vw;
            margin-left: 5vw;
        }
        .t_1 {
            margin-top: 3vw;
        }
        .text2 {
            margin-top: 16vw;
        }
        .form2 {
            position: absolute;
            z-index: 2;
            width: 59vw;
            height: 68vw;
            background-color: white;
            border: 2px solid #000;
            margin-left: 28vw;
            margin-top: 70vw;
        }
        .crown {
            margin-top: 26vw;
        }
        .pla3 {
            margin-top: 73.3vw;
            margin-left: 30.8vw;
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 2px solid #000;
            width: 59vw;
            height: 68vw;
        }
        .lizzie {
            margin-top: 2vw;
            background-image: url('./images/second.png');
            background-size: cover;
            width: 90vw;
            height: 139.5vw;
            border: 2px solid #000;
        }


        // второй текст статьи

        .third {
            display: flex;
            flex-direction: column-reverse;
            width: 90vw;
            margin-top: 4vw;
            margin-left: 5vw;
        }
        .t_1 {
            margin-top: 3vw;
        }
        .text3 {
            margin-top: 2vw;
            margin-left: -1vw;
        }
        .form3 {
            position: absolute;
            z-index: 2;
            width: 59vw;
            height: 68vw;
            background-color: white;
            border: 2px solid #000;
            margin-left: 28vw;
            margin-top: 70vw;
        }
        .princess {
            margin-top: 20.5vw;
        }
        .pla4 {
            margin-top: 73.3vw;
            margin-left: 30.8vw;
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 2px solid #000;
            width: 59vw;
            height: 68vw;
        }
        .mia {
            margin-top: 2vw;
            background-image: url('./images/third.png');
            background-size: cover;
            width: 90vw;
            height: 139.5vw;
            border: 2px solid #000;
        }


        // третий текст статьи

        .fourth {
            display: flex;
            flex-direction: column;
            width: 90vw;
        }
        .t_1 {
            margin-top: 3vw;
        }
        .text4 {
            margin-top: 6vw;
            margin-left: 5vw;
        }
        .form4 {
            position: absolute;
            z-index: 2;
            background-color: white;
            border: 2px solid #000;
            height: 32vw;
            width: 59vw;
            margin-top:37.2vw;
            margin-left: 31.7vw;
        }
        .titanic {
            margin-top: 8vw;
        }
        .pla5 {
            margin-top: 40.2vw;
            margin-left: 36vw;
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 2px solid #000;
            height: 32vw;
            width: 59vw;
        }
        .rose {
            background-image: url('./images/fourth.png');
            background-size: cover;
            width: 90vw;
            height: 70.5vw;
            border: 2px solid #000;
            margin-left: 5vw;
            margin-top: 2vw;
        }


        // четвёртый текст статьи

        .fifth {
            display: flex;
            flex-direction: column-reverse;
            width: 90vw;
            margin-top: 4vw;
            margin-left: 4vw;
        }
        .t_1 {
            margin-top: 3vw;
        }
        .text5 {
            margin-top: 0vw;
            margin-left: 1vw;
        }
        .form5 {
            position: absolute;
            z-index: 2;
            background-color: white;
            border: 2px solid #000;
            width: 59vw;
            height: 68vw;
            margin-left: 28vw;
            margin-top: 70vw;
        }
        .PaP {
            margin-top: 18vw;
        }
        .pla6 {
            margin-top: 73.3vw;
            margin-left: 32vw;
            width: 59vw;
            height: 68vw;
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 2px solid #000;
        }
        .darcy {
            margin-top: 2vw;
            background-image: url('./images/fifth.png');
            background-size: cover;
            width: 90vw;
            height: 139.5vw;
            border: 2px solid #000;
            margin-left: 1vw;
        }


        // четвёртый текст статьи

        .sixth {
            display: flex;
            flex-direction: column;
            width: 90vw;
            margin-top: 2vw;
        }
        .t_1 {
            margin-top: 3vw;
        }
        .text6 {
            margin-top: 2vw;
            margin-left: 5vw;
        }
        .form6 {
            position: absolute;
            z-index: 2;
            background-color: white;
            border: 2px solid #000;
            height: 32vw;
            width: 59vw;
            margin-top:37.2vw;
            margin-left: 31.7vw;
        }
        .brig {
            margin-top: 10vw;
        }
        .pla7 {
            margin-top: 40.2vw;
            margin-left: 36vw;
            height: 32vw;
            width: 59vw;
            position: absolute;
            z-index: 1;
            background-color: #FFDAED;
            border: 2px solid #000;
        }
        .guys {
            background-image: url('./images/sixth.png');
            background-size: cover;
            width: 90vw;
            height: 70.5vw;
            margin-left: 5vw;
            margin-top: 2vw;
            border: 2px solid #000;
        }

    }

   
}