@media only screen and (max-width: 499px) {
// font-family: 'Oranienbaum', serif;
// font-family: 'Snell Roundhand', arial;

    body.teaser {
        background-image: url('images/teaser.png');
        background-size: cover;

        // основы

        a{
            font-family: Helvetica;
            text-decoration: none;
        }
        h1 {
            font-family: 'Oranienbaum', serif;
            font-size: 12.72vw;
            text-transform: uppercase;
            color: blue;
        }
        h2 {
            font-family: 'Snell Roundhand', arial;
            font-size: 9vw;
            color: blue;
        }
        h3 {
            font-family: 'Snell Roundhand', arial;
            font-size: 4.24vw;
            color: blue;
        }
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .butt {
            font-family: Helvetica;
            font-size: 3.5vw;
            background-color: blue;
            width: 32vw;
            height: 6.9vw;
            border-radius: 40px;
            text-align: center;
            padding-top: 5px;
        }        
        

        // head

        nav {
            width: 86vw;
            margin-left: 6vw;
            margin-top: 13vw;

            .menu-items {
                width: 92.5vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .logo {
                width: 11vw;
                height: 8vw;
                margin-top: 1.5vw;
                padding-left: 2vw;
            }
            .about {
                width: 20vw;
                height: 5.9vw;
                border: 0.15vw solid #004BEF;
                border-radius: 40px;
                margin-left: 67vw;
                margin-top: -2.5vw;
            }
            .about:hover {
                background-color: #D9D8FF;
                transition: all 0.5s ease-out;
            }
            .tt {
                text-align: center;
                font-family: "HelveticaNeueCyrRoman";
                font-weight: normal;
                font-style: normal;
                font-size: 3.5vw;
                padding-top: 0.7vw;
                color: #004BEF;
            }
            a {
                display: block;
                text-decoration: none;
                width: 5vw;
                height: 5vw;
            }
        }

        // body

        #first {
            position: relative;
            margin-left: 3.5vw;
            margin-top: 37.8vw;
            .text1 {
                font-family: 'Oranienbaum', serif;
                font-size: 23vw;
                text-transform: uppercase;
                color: blue;
                margin-left: 2vw;
            }
            .text3 {
                font-family: 'Oranienbaum', serif;
                font-size: 23vw;
                text-transform: uppercase;
                color: blue;
                margin-top: -52vw;
                margin-left: 31vw;
            }
            .text4 {
                display: none;
            }
            .text4_1 {
                margin-top: 44vw;
            }
            .text2 {
                color: blue;
                margin-top: 58.3vw;
                margin-left: 3vw;
            }

            .under {
                background-image: url('images/underline.png');
                background-size: cover;
                width: 93.7vw;
                height: 0.2vw;
                margin-top: -32.3vw;
            }
            .hight {
                background-image: url('images/round.png');
                background-size: cover;
                width: 60vw;
                height: 40.5vw;
                margin-top: -62.3vw;
                margin-left: 16vw;
            }
        }

        #rounds {
            position: relative;
            .round1 {
                background-image: url('images/round_blue.png');
                background-size: cover;
                width: 10vw;
                height: 8.3vw;
                margin-top: 98vw;
                margin-left: 6vw;
            }
            .round2 {
                background-image: url('images/round_blue.png');
                background-size: cover;
                width: 10vw;
                height: 8.3vw;
                margin-top: -8vw;
                margin-left: 84vw;
                transform: rotate(76deg);
            }
        }

        #second {
            position: relative;
            margin-left: 3.5vw;
            margin-top: 27.8vw;

            p {
            font-family: Helvetica;
            font-size: 3.2vw;
            color: blue;
            line-height: 3.6vw;
            text-transform: lowercase;
            }

            .text5, .text6 h2{
                font-size: 7vw;
                margin-left: -4vw;
            }
            .text7 {
                margin-top: 17.5vw;
                margin-left: 15.5vw;
            }
            .text8 {
                margin-top: -11.2vw;
                margin-left: 39.5vw;
            }
            .text9 {
                margin-top: 22.8vw;
                margin-left: 34.5vw;
            }
            .text10 {
                margin-top: -4vw;
                margin-left: 40.5vw;
                width: 42vw;
            }
        }

        #third {
            position: relative;
            margin-left: 3.5vw;
            height: 101vw;
            a {
                color: white;
            }
            .litv {
                background-image: url('images/litv.svg');
                background-size: cover;
                width: 67.63vw;
                height: 69.47vw;
                margin-top: -60vw;
                margin-left: 10vw;
            }
            #numb p{
                font-family: 'Oranienbaum', serif;
                font-size: 48.74vw;  
                color: blue;  
                margin-top: 18vw;
                margin-left: 27vw;
            }
            .nadpis {
                background-image: url('images/nadpis.png');
                background-size: cover;
                width: 1.7vw;
                height: 76.03vw;
                margin-top: -60.6vw;
                margin-left: 88.2vw;
            }
            .b {
                margin-top: -1.5vw;
                margin-left: 46vw
            }
        }

        #fourth {
            height: 258vw;
            position: relative;
            margin-left: 3.5vw;
            margin-top: 5.8vw;
            a {
                color: white;
            }
            p {
            font-family: Helvetica;
            font-size: 3.2vw;
            color: blue;
            line-height: 3.6vw;
            text-transform: lowercase;
            }
            h2 {
                font-size: 7vw;
            }

            .title {
                margin-left: -3vw;
            }
            .fork { 
                background-image: url('images/fork.svg');
                background-size: cover;
                width: 137.36vw;
                height: 74.97vw;
                margin-top: 78vw;
                margin-left: -17.4vw;
                transform: rotate(90deg);
            }
            .text11 {
                margin-left: 15.5vw;
                margin-top: -135vw;
            }
            .b1 {
                margin-top: 170vw;
                margin-left: 46vw;
            }
            .arrow {
                background-image: url('images/arrow.png');
                background-size: cover;
                width: 4.39vw;
                height: 93.83vw;
                margin-top: -144vw;
                margin-left: 0.4vw;
            }
        }

        #fifth {
            position: relative;
            height: 252vw;
            margin-left: 3.5vw;
            margin-top: -14.2vw;
            a {
            color: white;
            }
            p {
            font-family: Helvetica;
            font-size: 3.2vw;
            color: blue;
            line-height: 3.6vw;
            text-transform: lowercase;
            }
            h2 {
                font-size: 7vw;
            }
            .title {
                margin-left: -3vw;
            }
            .text12 {
                margin-left: 15.5vw;
                width: 44vw;
                margin-top: 17.5vw;
            }
            .text12_1 {
                margin-left: 37vw;
                margin-top: -4.34vw;

            }
            .text12_2 {
                margin-left: 29vw;
                margin-top: -3.5vw;
            }
            .text13 {
                margin-left: 41vw;
                margin-top: -147vw;
            }
            .text13_1 {
                margin-left: 33vw;
                margin-top: 14.5vw;
            }
            .titanic {
                background-image: url('images/titanic4.svg');
                background-size: cover;
                width: 84.87vw;
                height: 121.28vw;
                margin-top: 22vw;
                margin-left: 3.6vw;
            }
            .b2 {
                margin-top: 141.5vw;
                margin-left: 46vw;
            }
        }

        #sixth {
            height: 241vw;
            position: relative;
            margin-left: 3.5vw;
            margin-top: 6vw;
            .title {
                margin-left: -3vw;
            }
            h2 {
                font-size: 7vw;
            }
            .qq {
                background-image: url('images/qq2.svg');
                background-size: cover;
                width: 40.77vw;
                height: 215.13vw;
                margin-top: 2.5vw;
                margin-left: 25vw;
            }
            .nadpis2 {
                background-image: url('images/nadpis2.png');
                background-size: cover;
                width: 1.35vw;
                height: 86.03vw;
                margin-top: -171.5vw;
                margin-left: 90vw;
            }
            .text14 {
                margin-left: 68vw;
                margin-top: 73vw;
            }
        }
        #seventh {
            position: relative;
            margin-left: 3.5vw;
            a {
            color: white;
            }
            p {
            font-family: Helvetica;
            font-size: 3.2vw;
            color: blue;
            line-height: 3.6vw;
            text-transform: lowercase;
            }
            .text15 {
                width: 58vw;
                margin-left: 16.5vw;
                margin-top: 13.5vw;
            }
            .text16_1 {
                margin-left: 36vw;
                margin-top: 19vw;
            }
            .text16 {
                width: 36vw;
                margin-left: 44vw;
                margin-top: -4vw;
            }
            .numb2 p{
                font-family: 'Oranienbaum', serif;
                font-size: 38.74vw;
                color: blue;
                margin-top: 35.5vw;
                margin-left: 33vw;
            }
            .hight1 {
                background-image: url('images/round.png');
                background-size: cover;
                width: 61vw;
                height: 41.4vw;
                margin-top: -26.3vw;
                margin-left: 13vw;
                transform: rotate(-20deg);
            }
            .b3 {
                margin-top: 14.5vw;
                margin-left: 46vw;
            }
        }

        #rounds1 {
            position: relative;
            .round3 {
                background-image: url('images/round_blue.png');
                background-size: cover;
                width: 10vw;
                height: 8.3vw;
                margin-top: 27vw;
                margin-left: 6vw;
            }
            .round4 {
                background-image: url('images/round_blue.png');
                background-size: cover;
                width: 10vw;
                height: 8.3vw;
                margin-top: -8vw;
                margin-left: 84vw;
                transform: rotate(76deg);
            }
        }

        #eigth {
            position: relative;
            margin-left: 3.5vw;  
            .tit h1{
                font-size: 11vw;
                margin-top: 33vw;
                margin-left: 4vw;
            }
            .tit1 {
                margin-top: 12vw;
                margin-left: 1vw;
            }
            .under1 {
                background-image: url('images/underline.png');
                background-size: cover;
                width: 93.7vw;
                height: 0.1vw;
                margin-top: 3.7vw;
            }

            input {
                width: 86.83vw;
                height: 8.17vw;
                border-radius: 40px;
                border: solid 2px;
                border-color: blue;
                margin-top: 7vw;
                margin-left: 3vw;
            }
            button {
                font-family: Helvetica;
                font-size: 3.5vw;
                background-color: blue;
                color: white;
                width: 32vw;
                height: 6.9vw;
                margin-top: 3vw;
                margin-left: 3vw;
                border-radius: 40px;
                text-align: center;
            }
        }

        #ninth {
            position: relative;
            background-color: blue;
            width: 100%;
            height: 26.15vw;
            margin-top: 60vw;
            .logo2 {
                position: absolute;
                background-image: url('images/logo2.svg');
                background-size: cover;
                width: 11vw;
                height: 8vw;
                margin-top: 7.5vw;
                margin-left: 6vw;
            }
            .s {
                position: absolute;
                background-image: url('images/all.svg');
                background-size: cover;
                width: 52.8vw;
                height: 9.95vw;
                margin-top: 8vw;
                margin-left: 21vw;
            }
            .t {
                display: none;
                background-image: url('images/teachers.svg');
                background-size: cover;
                width: 11.1vw;
                height: 4.95vw;
                margin-top: -5vw;
                margin-left: 46vw;
            }
            .vk {
                position: absolute;
                background-image: url('images/vk.png');
                background-size: cover;
                width: 5.05vw;
                height: 2.8vw;
                margin-top: 8vw;
                margin-left: 84vw;
            }
            .tg {
                position: absolute;
               background-image: url('images/tg.png');
                background-size: cover;
                width: 4.5vw;
                height: 3.4vw;
                margin-top: 14vw;
                margin-left: 84vw;
            }
            .hse {
                position: absolute;
               background-image: url('images/hse.png');
                background-size: cover;
                width: 11.4vw;
                height: 4.48vw;
                margin-top: 14vw;
                margin-left: 64.5vw;
            }
        }
    }
}