@media only screen and (min-width: 500px) {
// font-family: 'Oranienbaum', serif;
// font-family: 'Snell Roundhand', arial;

    body.teaser {
        background-image: url('images/back.png');
        background-size: cover;

        // основы

        a{
            font-family: Helvetica;
            text-decoration: none;
        }
        h1 {
            font-family: 'Oranienbaum', serif;
            font-size: 9.74vw;
            text-transform: uppercase;
            color: #1F4AF1;
        }
        h2 {
            font-family: 'Snell Roundhand', arial;
            font-size: 5.57vw;
            color: #1F4AF1;
        }
        h3 {
            font-family: 'Snell Roundhand', arial;
            font-size: 2.24vw;
            color: #1F4AF1;
        }
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .butt {
            font-family: Helvetica;
            font-size: 1.67vw;
            background-color: #1F4AF1;
            width: 14.38vw;
            height: 3.75vw;
            border-radius: 40px;
            text-align: center;
            padding-top: 0.9vw;
            padding-left: 1.4vw;
        }  
        .butt1 {
            font-family: Helvetica;
            font-size: 1.67vw;
            background-color: #1F4AF1;
            width: 14.38vw;
            height: 3.75vw;
            border-radius: 40px;
            text-align: center;
            padding-top: 0.9vw;
            padding-left: 4.6vw;
        }    
         .butt2 {
            font-family: Helvetica;
            font-size: 1.67vw;
            background-color: #1F4AF1;
            width: 14.38vw;
            height: 3.75vw;
            border-radius: 40px;
            text-align: center;
            padding-top: 0.9vw;
            padding-left: 3.8vw;
        }     
        .butt3 {
            font-family: Helvetica;
            font-size: 1.67vw;
            background-color: #1F4AF1;
            width: 14.38vw;
            height: 3.75vw;
            border-radius: 40px;
            text-align: center;
            padding-top: 0.9vw;
            padding-left: 4.5vw;
        }         
        

        // head

        nav {
            width: 92.40vw;

            .menu-items {
                width: 92.5vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .logo {
                width: 8vw;
                height: 5vw;
                margin-top: 1.5vw;
                padding-left: 2vw;
            }
            .about {
                width: 14.38vw;
                height: 2.85vw;
                border: 0.15vw solid #004BEF;
                border-radius: 40px;
                margin-left: 82vw;
                margin-top: -2.5vw;
            }
            .about:hover {
                background-color: #D9D8FF;
                transition: all 0.5s ease-out;
            }
            .tt {
                font-family: "HelveticaNeueCyrRoman";
                font-weight: normal;
                font-style: normal;
                font-size: 1.25vw;
                padding: 0.6vw;
                padding-left: 5.3vw;
                color: #004BEF;
            }
            a {
                    display: block;
                    text-decoration: none;
                    width: 5vw;
                    height: 5vw;
            }
        }

        // body

        #first {
            position: relative;
            margin-left: 3.5vw;
            margin-top: 5.8vw;
            .text1 {
                font-family: 'Oranienbaum', serif;
                font-size: 16.67vw;
                text-transform: uppercase;
                color: #1F4AF1;
            }
            .text3 {
                font-family: 'Oranienbaum', serif;
                font-size: 16.67vw;
                text-transform: uppercase;
                color: #1F4AF1;
                margin-top: -8vw;
                margin-left: 64vw;
            }
            .text4 {
                font-family: 'Oranienbaum', serif;
                font-size: 16.67vw;
                text-transform: uppercase;
                color: #1F4AF1;
                margin-top: 0vw;
                margin-left: -1vw;
            }

            .text2 {
                color: #1F4AF1;
                margin-top: 2.3vw;
                margin-left: 0vw;
            }
            .text4 {
                width: 80vw;
            }

            .under {
                background-image: url('images/underline.png');
                background-size: cover;
                width: 53.70vw;
                height: 0.2vw;
                margin-top: -23.3vw;
            }
            .hight {
                background-image: url('images/round.png');
                background-size: cover;
                width: 32.81vw;
                height: 22.2vw;
                margin-top: -15.3vw;
                margin-left: 59vw;
            }
        }

        #rounds {
            position: relative;
            .round1 {
                background-image: url('images/round_blue.png');
                background-size: cover;
                width: 10vw;
                height: 8.3vw;
                margin-top: 28vw;
                margin-left: 6vw;
            }
            .round2 {
                background-image: url('images/round_blue.png');
                background-size: cover;
                width: 10vw;
                height: 8.3vw;
                margin-top: -8vw;
                margin-left: 84vw;
                transform: rotate(76deg);
            }
        }

        #second {
            position: relative;
            margin-left: 3.5vw;
            margin-top: -3vw;

            p {
            font-family: Helvetica;
            font-size: 1.20vw;
            color: #1F4AF1;
            line-height: 1.6vw;
            text-transform: lowercase;
            }

            .text5, .text6 {
                margin-left: -4vw;
            }
            .text7 {
                margin-top: 4.5vw;
                margin-left: 23.5vw;
            }
            .text8 {
                margin-top: -5.2vw;
                margin-left: 32.5vw;
            }
            .text9 {
                margin-top: 4.8vw;
                margin-left: 47.5vw;
            }
            .text10 {
                margin-top: -2vw;
                margin-left: 50.5vw;
            }
        }

        #third {
            position: relative;
            margin-left: 3.5vw;
            a {
                color: white;
            }
            .litv {
                background-image: url('images/litv.svg');
                background-size: cover;
                width: 50.63vw;
                height: 55.47vw;
                margin-top: -43vw;
                margin-left: 19vw;
            }
            #numb p{
                font-family: 'Oranienbaum', serif;
                font-size: 34.74vw;  
                color: #1F4AF1;  
                margin-top: 10vw;
                margin-left: 30vw;
            }
            .pop1 {
                opacity: 0;
                position: absolute;
                z-index: 1;
                background-image: url('images/6pop.svg');
                background-size: cover;
                width: 20.35vw;
                height: 7.03vw;
                margin-top: -14.6vw;
                margin-left: 55.2vw;
            }
            #numb:hover ~ .pop1 {
                opacity: 1;
                transition: 0.5s;
            }

            .nadpis {
                background-image: url('images/nadpis.png');
                background-size: cover;
                width: 1.35vw;
                height: 57.03vw;
                margin-top: -45.6vw;
                margin-left: 85.2vw;
            }
            .b {
                margin-top: -9.5vw;
                margin-left: 55vw;
            }
        }

        #fourth {
            position: relative;
            margin-left: 3.5vw;
            margin-top: 5.8vw;
            a {
                color: white;
            }
            p {
            font-family: Helvetica;
            font-size: 1.20vw;
            color: #1F4AF1;
            line-height: 1.6vw;
            text-transform: lowercase;
            }

            .title {
                margin-left: -3vw;
            }
            .fork {
                background-image: url('images/fork.svg');
                background-size: cover;
                width: 48.33vw;
                height: 29.95vw;
                margin-top: 4vw;
                margin-left: 22.6vw;
            }
            .text11 {
                margin-left: 23.5vw;
                margin-top: -5vw;
            }
            .b1 {
                margin-top: 3vw;
                margin-left: 55vw;
            }
            .arrow {
                background-image: url('images/arrow.png');
                background-size: cover;
                width: 3.39vw;
                height: 75.83vw;
                margin-top: -57vw;
                margin-left: 5.4vw;
            }
        }

        #fifth {
            position: relative;
            margin-left: 3.5vw;
            margin-top: -14.2vw;
            a {
            color: white;
            }
            p {
            font-family: Helvetica;
            font-size: 1.20vw;
            color: #1F4AF1;
            line-height: 1.6vw;
            text-transform: lowercase;
            }
            .title {
                margin-left: -3vw;
            }
            .text12 {
                margin-left: 23.5vw;
                margin-top: 5.5vw;
            }
            .text12_1 {
                margin-left: 33vw;
                margin-top: -2.34vw;
            }
            .text12_2 {
                margin-left: 29vw;
                margin-top: -1.5vw;
            }
            .text13 {
                margin-left: 58vw;
                margin-top: -29vw;
            }
            .text13_1 {
                margin-left: 54vw;
                margin-top: 7.5vw;
            }
            .titanic {
                background-image: url('images/titanic.svg');
                background-size: cover;
                width: 55.99vw;
                height: 37.50vw;
                margin-top: -10vw;
                margin-left: -3.4vw;
            }
            .b2 {
                margin-top: 13.5vw;
                margin-left: 55vw;
            }
        }

        #sixth {
            position: relative;
            margin-left: 3.5vw;
            margin-top: 6vw;
            .title {
                margin-left: -3vw;
            }
            .qq {
                background-image: url('images/qq.svg');
                background-size: cover;
                width: 30.16vw;
                height: 39.17vw;
                margin-top: 2vw;
                margin-left: 31.5vw;
            }
            .nadpis2 {
                background-image: url('images/nadpis2.png');
                background-size: cover;
                width: 1.35vw;
                height: 79.03vw;
                margin-top: -54.5vw;
                margin-left: 85vw;
            }
            .text14 {
                margin-left: 66vw;
                margin-top: -27vw;
            }
        }
        #seventh {
            position: relative;
            margin-left: 3.5vw;
            a {
            color: white;
            }
            p {
                font-family: Helvetica;
                font-size: 1.20vw;
                color: #1F4AF1;
                line-height: 1.6vw;
                text-transform: lowercase;
            }
            .text15 {
                margin-left: 23.5vw;
                margin-top: -40.5vw;
            }
            .text16_1 {
                margin-left: 50vw;
                margin-top: 15vw;
            }
            .text16 {
                margin-left: 54vw;
                margin-top: -2vw;
            }
            .numb1 {
                background-image: url('images/num.svg');
                background-size: cover;
                margin-top: 13.5vw;
                margin-left: 18.5vw;
                width: 36.35vw;
                height: 37.71vw;
                scale: 0.7;
            }   
            .numb2 {
                display: none;
            }
            .pop2 {
                opacity: 0;
                position: absolute;
                z-index: 1;
                background-image: url('images/5pop.svg');
                background-size: cover;
                width: 20.35vw;
                height: 7.03vw;
                margin-top: -24.6vw;
                margin-left: 8.2vw;
            }
            .numb1:hover ~ .pop2 {
                opacity: 1;
                transition: 0.5s;
            }
            .hight1 {
                display: none;
                background-image: url('images/round.png');
                background-size: cover;
                width: 32.81vw;
                height: 22.2vw;
                margin-top: -12.3vw;
                margin-left: 21vw;
                transform: rotate(-20deg);
            }
            .b3 {
                margin-top: 3.5vw;
                margin-left: 54vw;
            }
        }

        #rounds1 {
            position: relative;
            .round3 {
                background-image: url('images/round_blue.png');
                background-size: cover;
                width: 10vw;
                height: 8.3vw;
                margin-top: 8vw;
                margin-left: 6vw;
            }
            .round4 {
                background-image: url('images/round_blue.png');
                background-size: cover;
                width: 10vw;
                height: 8.3vw;
                margin-top: -8vw;
                margin-left: 84vw;
                transform: rotate(76deg);
            }
        }

        #eigth {
            position: relative;
            margin-left: 3.5vw;  
            .tit {
                margin-top: 15vw;
                margin-left: 8vw;
            }
            .tit1 {
                margin-top: 5vw;
                margin-left: 17vw;
            }
            .under1 {
                background-image: url('images/underline.png');
                background-size: cover;
                width: 55.70vw;
                height: 0.1vw;
                margin-top: 1.7vw;
                margin-left: 17vw;
            }

            input {
                width: 45.83vw;
                height: 4.17vw;
                border-radius: 40px;
                border: solid 0.2vw;
                border-color: #1F4AF1;
                margin-top: 7vw;
                margin-left: 16vw;
                font-size: 1vw;
            }
            button {
                position: relative;
                top: 0.3vw;
                width: 14.38vw;
                height: 4.17vw;
                font-family: Helvetica;
                color: white;
                font-size: 1.67vw;
                background-color: #1F4AF1;
                border-color: #1F4AF1;
                border: solid 0.2vw;
                width: 14.38vw;
                height: 4.75vw;
                border-radius: 40px;
                text-align: center;
            }
        }

        #ninth {
            position: relative;
            background-color: #1F4AF1;
            width: 100%;
            height: 11.61vw;
            margin-top: 5vw;
            .logo2 {
                position: absolute;
                background-image: url('images/logo1.svg');
                background-size: cover;
                width: 15.3vw;
                height: 7.2vw;
                margin-top: 2vw;
                margin-left: 3vw;
                
            }
            .s {
                position: absolute;
                background-image: url('images/students.svg');
                background-size: cover;
                width: 15.2vw;
                height: 4.95vw;
                margin-top: 3vw;
                margin-left: 25vw;
            }
            .t {
                position: absolute;
                background-image: url('images/teachers.svg');
                background-size: cover;
                width: 11.1vw;
                height: 4.95vw;
                margin-top: 3vw;
                margin-left: 46vw;
            }
            .vk {
                position: absolute;
               background-image: url('images/vk.png');
                background-size: cover;
                width: 5.05vw;
                height: 2.8vw;
                margin-top: 4vw;
                margin-left: 67vw; 
            }
            .tg {
                position: absolute;
               background-image: url('images/tg.png');
                background-size: cover;
                width: 4.5vw;
                height: 3.4vw;
                margin-top: 3.5vw;
                margin-left: 76vw;
            }
            .hse {
                position: absolute;
               background-image: url('images/hse.png');
                background-size: cover;
                width: 11.4vw;
                height: 4.48vw;
                margin-top: 3.5vw;
                margin-left: 85vw;
            }
        }
    }
}