@media only screen and (min-width: 500px) {
  body.tests {
    .bold {
      font-style: normal;
      font-weight: bold;
    }
    #S_LongCardsBlock:first-of-type {
      margin-top: 3vw;
      height: 37.85vw;
    }
    #S_LongCardsBlock {
      height: 37.85vw;
      margin-top: 3.24vw;
    }

    .M_tag_default {
      margin-top: 1vw;
    }

    #O_VerticalCardWithImage {
      display: flex;
      flex-direction: column;
      width: 22.22vw;
      height: 41.75vw;
      border: 0.14vw solid var(--blue);
      border-radius: 0.43vw;
    }

    #S_LongCards {
      display: flex;
      flex-direction: column;
      width: 93.06vw;
      height: 56.85vw;
      margin: 0 auto;
      margin-top: -1.76vw;
      align-items: center;
      gap: 0.06vw;
    }

    #S_SectionFirst {
      .Q_big_oval_image {
        background-image: url('images/think.png');
        background-size: cover;
        width: 76vw;
      }
    }

    #S_LongCardsBlock {
      .Q_rectangle_image {
        background-image: url('images/M_bigger_thin_horizontal_card_image.png');
        background-size: cover;
        height: 25vw;
      }
    }

    #S_LongCardsBlock {
      .Q_rectangle_image {
        background-image: url('images/host.png');
        background-size: cover;
        height: 23vw;
      }
    }

    #S_LongCardsBlock {
      .Q_horizontal_oval_card_image {
        margin-top: 1vw;

        &.sit {
          background-image: url('images/sit.png');
          background-size: cover;
          height: 23vw;
          width: 20vw;
        }

        &.bare {
          background-image: url('images/barefoot.png');
          background-size: cover;
          height: 23vw;
          width: 20vw;
        }
      }

      .W_CardText {
        margin-top: 0.47vw;
      }

      .W_CardText {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vw 1vw 3vw 1vw;

        .M_tag_default {
          margin-top: 1vw;
        }
      }
    }

    #O_footer {
      margin: -7vw 0;
    }
  }

  #O_little_horizontal_card {
    display: flex;
    flex-direction: column;
    width: 30.14vw;
    height: 34.67vw;
    border: solid 0.14vw var(--blue);
    border-radius: 0.42vw;

    .M_horizontal_oval_card_image {
      margin-top: 2.85vw;
      margin-left: 1.46vw;
    }

    .elements3 {
      margin-top: 3.13vw;
      margin-left: 6.18vw;
    }
  }
  #S_LongCardsBlock {
    .Q_horizontal_oval_card_image {
      &.fresh {
        background-image: url('images/fresh.png');
        background-size: cover;
        width: 26.5vw;
        height: 16.3vw;
      }

      &.patrick {
        background-image: url('images/patrick.png');
        background-size: cover;
        width: 27.5vw;
        height: 18vw;
        margin-top: 1vw;
      }

      &.mac {
        background-image: url('images/mac.png');
        background-size: cover;
        width: 26.5vw;
        height: 16.3vw;
        margin-top: 1.5vw;
      }
    }
  }
  #S_LongCards {
    .Q_rectangle_image {
      &.shine {
        background-image: url('images/glasses.png');
        background-size: cover;
        width: 43.5vw;
        height: 22.3vw;
      }

      &.let {
        background-image: url('images/let.png');
        background-size: cover;
        width: 20vw;
        height: 23vw;
        margin-top: 1vw;
        margin-left: 1.1vw;
      }

      &.santa {
        background-image: url('images/santa.png');
        background-size: cover;
        width: 20vw;
        height: 23vw;
        margin-top: 1vw;
        margin-left: 1.01vw;
      }
    }

    .W_CardText {
      margin-top: 0.47vw;
    }

    .W_CardText {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2vw;

      .M_tag_default {
        margin-top: 1vw;
      }
    }
  }
}

@media only screen and (max-width: 499px) {
  body.tests {
    #S_SectionFirst {
      .A_MobileMainImage {
        background-image: url('images/mobtest.png');
        background-size: cover;
      }
    }
    #S_LongCardsBlock {
      margin-top: 4.8vw;
    }

    .M_tag_default {
      margin-top: 3vw;
    }

    #O_VerticalCardWithRoundImage {
      .Q_horizontal_oval_card_image {
        margin-top: 1vw;
        height: 25vw;
        width: 20vw;

        &.sit {
          background-image: url('images/mobsit.png');
          background-size: cover;
          width: 88vw;
          height: 50vw;
        }

        &.bare {
          background-image: url('images/bare.png');
          background-size: cover;
          width: 88vw;
          height: 50vw;
        }
      }
    }

    #S_LongCardsBlock {
      .Q_rectangle_image {
        background-image: url('images/mobhoz.png');
        background-size: cover;
        width: 88vw;
        height: 50vw;
      }
    }

    #S_LongCards {
      display: flex;
      flex-direction: column;
      width: 93.06vw;
      margin: 0 auto;
      align-items: center;
      gap: 3.96vw;
    }

    #S_LongCardsBlock {
      .Q_horizontal_oval_card_image {
        &.fresh {
          background-image: url('images/mobjuice.png');
          background-size: cover;
          width: 88vw;
          height: 50vw;
        }

        &.patrick {
          background-image: url('images/mobpat.png');
          background-size: cover;
          width: 88vw;
          height: 50vw;
        }

        &.mac {
          background-image: url('images/mobmac.png');
          background-size: cover;
          width: 88vw;
          height: 50vw;
        }
      }
    }

    #S_LongCards {
      .Q_rectangle_image {
        &.shine {
          background-image: url('images/mobshine.png');
          background-size: cover;
          width: 88vw;
          height: 50vw;
        }
        &.let {
            background-image: url('images/lalala.png');
            background-size: cover;
            width: 88vw;
            height: 50vw;
        }
        &.santa{
          background-image: url('images/mobmor.png');
          background-size: cover;
          width: 88vw;
          height: 50vw;
        }
      }
    }

    #O_VerticalCardWithRoundImage {
      display: flex;
      flex-direction: column;
      width: 93.06vw;
      height: 75.74vw;
      border: solid 0.4vw #204bf1;
      border: solid 0.4vw var(--blue);
      border-radius: 1vw;
      padding: 2.5vw;
      gap: 6vw;
    }

    #O_VerticalCardWithImage {
        display: flex;
        flex-direction: column;
        width: 93.06vw;
        height: 75.74vw;
        border: solid 0.4vw #204bf1;
        border: solid 0.4vw var(--blue);
        border-radius: 1vw;
        padding: 2.5vw;
        gap: 6vw;
    }

    #O_little_horizontal_card {
      display: flex;
      flex-direction: column;
      width: 93.06vw;
      height: 75.74vw;
      border: solid 0.4vw #204bf1;
      border: solid 0.4vw var(--blue);
      border-radius: 1vw;
      padding: 2.5vw;
      gap: 6vw;
    }

    .none {
      display: none;
    }

    .invisble {
      opacity: 0;
    }
  }
}
