.Q_Line {
    color: var(--blue);
    .longer {
       width: 27.45vw;
       height: 2px;
    }
    .shorter {
        width: 13.18vw;
        height: 2px;
    }
}

.Q_Vk {
    width: 2.34vw;
    height: 1.35vw;
}
.Q_Tg {
    width: 1.82vw;
    height: 1.51vw;
}
.Q_search_icon {
    width: 1.88vw;
    height: 0.89vw;
}

.Q_arrow_landing {
    width: 10.26vw;
    height: 5.83vw;
}
.Q_ArrowLong {
    width: 4.79vw;
    height: 82.14vw;
}

.Q_burgerMenu {
    width: 1.88vw;
    height: 0.94vw;
}