// navbar & footer

.W_NavBar {
    display: inline-flex;
    width: 78.33vw;
    row-gap: 1.39vw; // либо оставить паддинги в элементах

    .A_button_default {
        padding: 0.69vw;
    }
    .M_searchbar {
        padding: 0.69vw;
    }
}

.W_SecondMenu {
    display: inline-flex;
    width: 58.96vw;
    row-gap: 1.39vw;

    .A_menu_point_default {
        padding: 0.69vw;
    }
}

.W_SimpleNavBar {
    display: inline-flex;
    width: 93.96vw;
    align-items: center;
    row-gap: auto;

    .W_NavBar {
        display: flex;
    }
    .A_little_logo {
        display: flex;
    }
}

.W_socialmedia_icons {
    display: inline-flex;
    width: 8.89vw;
    row-gap: auto;

    .Q_Tg {
        display: flex;
        padding: auto;
    }
    .Q_Vk {
        display: flex;
        padding: auto;
    }
}


//ещё обёртка иконки и лого хсе арт и дииииизАйН СкуЛ
.W_socialmedia_icons_hse_logo {
    display: flex;
    flex-direction: row;
    width: 22.43vw;
    height: 4.51vw;

    .W_socialmedia_icons {
        margin-left: 0vw;
    }
    .Q_hse_logo {
        margin-left: 2.08vw;
    }
}



//  form

.W_FormInput {
    display: inline-flex;
    column-gap: auto;
    width: 45.83vw;

    .A_form input {
        display: flex;
        padding: auto;
    }
    .A_button_default {
        display: flex;
        padding: auto;
    }
}


// tests

.W_test_variants {
    display: flex;
    flex-direction: column;
    width: 53.26vw;

    .A_test_subtitle {
        display: flex;
        padding: auto;
    }
    .M_testVariant {
        display: flex;
        padding: auto;
    }
}

.W_test_results {
    display: flex;
    flex-direction: column;
    width: 42.08vw;

    .A_test_result_subtitle {
        display: flex;
        padding: auto;
    }
    .A_test_result_description {
        display: flex;
        padding: auto;
    }
}


//sections 

.W_section_text_head {
    display: flex;
    flex-direction: column;
    width: 89.86vw;
    column-gap: -1.53vw;

    .A_section_title {
        display: flex;
        padding: auto;
    }
    .M_section_description {
        display: flex;
        padding: auto;
    }
}

.W_CardText {
    display: flex;
    flex-direction: column;

    .elements3 {
        .A_section_card_title{
            padding: 0.69vw;
        }
        .A_section_card_note {
            padding-top: 0vw;
            padding: 0.69vw;
        }
        .M_tag_default {
            padding: auto;
        }
    }

    .elements2_short {
        .A_section_card_title{
            padding: 0.69vw;
        }
        .M_tag_default {
            padding: auto;
        }
    }

    .elements2_long {
        .A_section_card_title{
            padding: 0.69vw;
        }
        .M_tag_default {
            padding: auto;
        }
    }
}

.W_Section_Card_Text {
    display: flex;
    flex-direction: column;

    .strings2 {
        width: 13.26vw;
        .A_section_card_title{
            padding: 0.69vw;
        }
        .A_section_card_note {
            padding-top: 0vw;
            padding: 0.69vw;
        }
    }
    .strings1 {
        width: 19.58vw;
        .A_section_card_title{
            padding: 0.69vw;
        }
        .A_section_card_note {
            padding-top: 0vw;
            padding: 0.69vw;
        }
    }
}


//articles

.W_article_first_page_text {
    width: 53.96vw;
    display: flex;
    flex-direction: column;
    padding: 0.69vw;
    align-items: center;

    .default {
        .A_article_title {
            width: 43.75vw;
            height: 8.89vw;
        }
        .A_article_lead {
            width: 53.96vw;
        }
        .M_tag_default {
            padding: 0.69vw;
        }
    }

    .longer {
        .A_article_title {
            height: 8.89vw;
        }
        .A_article_lead {
            width: 53.96vw;
        }
        .M_tag_default {
            padding: 0.69vw;
        }
    }

    .onestring {
        .A_article_title {
            height: 4.17vw;
        }
        .A_article_lead {
            width: 53.96vw;
        }
        .M_tag_default {
            padding: 0.69vw;
        }
    }
}

.W_article_text {
    display: flex;
    flex-direction: column;
    padding: 0.69vw;

    .A_article_subtitle {
        width: 43.89vw;
    }
    .A_article_text {
        width: 45.69vw;
    }
}

.W_actors {
    display: inline-flex;
    column-gap: 0.34vw;
}

.W_image_signature {
    display: flex;
    flex-direction: column;
    padding: 0.69vw;

    //M_article_image_signature_with_line и W_actors в html прописываются внутри, так что они должны принимать значения родителя
}

.W_photo_group_landing {
    display: flex;
    flex-direction: column;

    .A_section_card_hastag {
        padding: 0.69vw;
    }
}

.W_image_with_number {
    display: inline-flex;

    .Q_image_for_number {
        padding-left: -8.06vw;
    }
}