<div id="O_footer">
    <div class="A_big_logo"></div>
    <div class="W_footer_text">
        <div class="A_footer_text students">
            <p>Дарья любивая <br>Анастасия Ляч <br>Зеленкова Александра</p>
        </div>
        <div class="A_footer_text teachers">
            <p>Каем софья <br>Комкова Анна</p>
        </div>
    </div>
    <div class="W_socialmedia_icons_hse_logo">
        <div class="W_socialmedia_icons">
            <div class="Q_Vk">
                <a href="https://vk.com/eticetwithumestno"></a>
            </div>
            <div class="Q_Tg">
                <a href="https://t.me/eticwithmanera"></a>
            </div>
        </div>
        <a class="Q_hse_logo" href="https://design.hse.ru/"> </a>
    </div>
</div>