.A_Input{
    display: inline-flex;
    height: 2.14vw;
    width: 15.28vw;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.15vw solid var(--blue);
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    background-color: var(--white);
    font-family: Helvetica;
    font-size: 0.94vw;
}