<% const {menubar}=require('./menubar.js') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тесты</title>

    <link rel="icon" type="img/png" href="./images/A_little_logo.png" />

    <!-- Primary Meta Tags -->
    <title>Уместно — о медиа-сервис</title>
    <meta name="title" content="Уместно — о медиа-сервисе" />
    <meta name="description" content="Узнай, как изучать этикет в увлекательной форме" />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hseadc.github.io/umestno/tests_main.html" />
    <meta property="og:title" content="Уместно — о медиа-сервисе" />
    <meta property="og:description" content="Узнай, как изучать этикет в увлекательной форме" />
    
    <meta property="og:image" content="https://hseadc.github.io/umestno/share/metaTag.png" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://hseadc.github.io/umestno/tests_main.html" />
    <meta property="twitter:title" content="Уместно — о медиа-сервисе" />
    <meta property="twitter:description" content="Узнай, как изучать этикет в увлекательной форме" />
    <meta property="twitter:image" content="https://hseadc.github.io/umestno/share/metaTag.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <analytics></analytics>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap" rel="stylesheet">
</head>
<body class="tests">
    <%= menubar %>
    <!-- <menubar></menubar> -->

    <div id="S_SectionFirst">
        <div class="W_section_text_head">
            <div class="A_section_title">
                <p>а как правильно?</p>
            </div>
            <div class="M_section_description">
                <div class="Q_Line inf"></div>
                <div class="A_section_signature">
                    <p>проверяем свои знания</p>
                </div>
                <div class="Q_Line inf"></div>
    
            </div>
        </div>
        <div class="Q_big_oval_image"></div>
        <div class="A_MobileMainImage"></div>
    </div>

    <div id="S_LongCardsBlock">
        <div class="W_two_cards">
            <a href="./tests/test1.html" id="O_horizontal_card_for_learning">
                <div class="Q_rectangle_image"></div>
                <div class="W_long_card_text_with_hastag">
                    <div class="A_section_card_title">
                         хороший ли вы<br>
                        хозяин?
                    </div>
                    <div class="M_tag_default">
                        <p>#светский этикет</p>
                    </div>
                </div>
            </a>
            <a href="./tests/test2.html" id="O_VerticalCardWithRoundImage">
                <div class="Q_horizontal_oval_card_image sit"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                        КТО ГДЕ СИДИТ?
                    </div>
                    <div class="A_section_card_note">
                        знаете правила рассадки?
                    </div>
                    <div class="M_tag_default">
                        <p>#столовый этикет</p>
                    </div>
                </div>
            </a>
            <a href="./tests/test3.html" id="O_VerticalCardWithRoundImage">
                <div class="Q_horizontal_oval_card_image bare"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                        Босиком?!
                    </div>
                    <div class="A_section_card_note">
                        где необходимо снять обувь?
                    </div>
                    <div class="M_tag_default">
                        <p>#светский этикет</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div id="S_LongCardsBlock">
        <div class="W_two_cards">
            <a href="./tests/test4.html" id="O_little_horizontal_card">
                <div class="Q_horizontal_oval_card_image fresh"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                        как сочно!
                    </div>
                    <div class="A_section_card_note">
                        как правильно есть фрукты?
                    </div>
                    <div class="M_tag_default">
                        <p>#столовый этикет</p>
                    </div>
                </div>
            </a>
            <a href="./tests/test5.html" id="O_little_horizontal_card">
                <div class="Q_horizontal_oval_card_image patrick"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                    алё, это патрик?
                    </div>
                    <div class="A_section_card_note">
                        хороший ли вы собеседник?
                    </div>
                    <div class="M_tag_default">
                        <p>#речевой этикет</p>
                    </div>
                </div>
            </a>
            <a href="./tests/test6.html" id="O_little_horizontal_card">
                <div class="Q_horizontal_oval_card_image mac"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                        а макароны можно?
                    </div>
                    <div class="A_section_card_note">
                        что уместно есть руками?
                    </div>
                    <div class="M_tag_default">
                        <p>#столовый этикет</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    </div>

    <div id="S_LongCards">
        <div class="W_two_cards">
            <a href="./tests/test7.html" id="O_horizontal_card_for_learning">
                <div class="Q_rectangle_image shine"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                        я сияю!
                    </div>
                    <div class="A_section_card_note">
                        где уместно не снимать очки?
                    </div>
                    <div class="M_tag_default">
                        <p>#дресс-код</p>
                    </div>
                </div>
            </a>
            
            <a href="./tests/test8.html" id="O_VerticalCardWithImage">
                <div class="Q_rectangle_image let"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                        да идите вы!
                    </div>
                    <div class="A_section_card_note">
                        насколько вы любезны?
                    </div>
                    <div class="M_tag_default">
                        <p>#светский этикет</p>
                    </div>
                </div>
            </a>
            <a href="./tests/test9.html" id="O_VerticalCardWithImage">
                <div class="Q_rectangle_image santa"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                        малыш санта
                    </div>
                    <div class="A_section_card_note">
                        как встретить Деда мороза?
                    </div>
                    <div class="M_tag_default">
                        <p>#светский этикет</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div id="O_footer">
        <div class="A_big_logo"></div>
        <div class="W_footer_text">
            <div class="A_footer_text students">
                <p>Дарья любивая <br>Анастасия Ляч <br>Зеленкова Александра</p>
            </div>
            <div class="A_footer_text teachers">
                <p>Каем софья <br>Комкова Анна</p>
            </div>
        </div>
        <div class="W_socialmedia_icons_hse_logo">
            <div class="W_socialmedia_icons">
                <div class="Q_Vk">
                    <a href=""></a>
                </div>
                <div class="Q_Tg">
                    <a href=""></a>
                </div>
            </div>
            <a class="Q_hse_logo" href="https://design.hse.ru/">
            </a>
        </div>
    </div>

</body>
</html>