<% const {menubar}=require('../menubar.js') %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильмы</title>

    <link rel="icon" type="img/png" href="../images/A_little_logo.png" />

    <!-- Primary Meta Tags -->
    <title>Уместно — о медиа-сервис</title>
    <meta name="title" content="Уместно — о медиа-сервисе" />
    <meta name="description" content="Узнай, как изучать этикет в увлекательной форме" />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hseadc.github.io/umestno/media/films.html" />
    <meta property="og:title" content="Уместно — о медиа-сервисе" />
    <meta property="og:description" content="Узнай, как изучать этикет в увлекательной форме" />
    
    <meta property="og:image" content="https://hseadc.github.io/umestno/share/metaTag.png" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://hseadc.github.io/umestno/media/films.html" />
    <meta property="twitter:title" content="Уместно — о медиа-сервисе" />
    <meta property="twitter:description" content="Узнай, как изучать этикет в увлекательной форме" />
    <meta property="twitter:image" content="https://hseadc.github.io/umestno/share/metaTag.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <analytics></analytics>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap" rel="stylesheet">
</head>

<body class="films">
    <div class="S_NavBar">
        <%= menubar %>
    </div>

    <!-- <menubar></menubar> -->
    <div class="Q_line_menu"></div>
    <div class="O_SecondMenu">
        <a href="./guides.html" class="A_menu_point_default">гайды</a>
        <a href="./influensers.html" class="A_menu_point_default">инфлюенсеры</a>
        <a href="./antietiquette.html" class="A_menu_point_default">антиэтикет</a>
        <a href="./films.html" class="A_menu_point_default bold">фильмы</a>
    </div>

    <!-- первый блок -->

    <div id="S_SectionFirst">
        <div class="W_section_text_head">
            <div class="A_section_title">
                <p>хочу, как они</p>
            </div>
            <div class="M_section_description">
                <div class="Q_Line inf"></div>
                <div class="A_section_signature">
                    <p>учимся, смотрим, запоминаем</p>
                </div>
                <div class="Q_Line inf"></div>

            </div>
        </div>
        <div class="Q_big_oval_image"></div>
        <div class="A_MobileMainImage"></div>
    </div>

    <!-- карточки -->

    <div id="S_LongCardsBlock">
        <div class="M_BlockSeparator">
            <div class="A_section_subtitle">
                <p>учимся у героев</p>
            </div>
            <div class="Q_Line heroes"></div>
        </div>
        <div class="W_two_cards">
            <a href="./films/film4.html" id="O_horizontal_card_for_learning">
                <div class="Q_rectangle_image"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                        БРАВО, ГРЕЙСИ!
                    </div>
                    <div class="A_section_card_note">
                        этикет принцессы Монако
                    </div>
                    <div class="M_tag_default">
                        <p>#светский этикет</p>
                    </div>
                </div>
            </a>
            <a href="./films/film5.html" id="O_VerticalCardWithRoundImage">
                <div class="Q_horizontal_oval_card_image emma"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                        ЭММА?!
                    </div>
                    <div class="A_section_card_note">
                        поведение аристократки
                    </div>
                    <div class="M_tag_default">
                        <p>#светский этикет</p>
                    </div>
                </div>
            </a>
            <a href="./films/film3.html" id="O_VerticalCardWithRoundImage">
                <div class="Q_horizontal_oval_card_image fil"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                    филипп!
                    </div>
                    <div class="A_section_card_note">
                        ошибки сериала «Корона»
                    </div>
                    <div class="M_tag_default">
                        <p>#светский этикет</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- второй ряд  -->
    <div id="S_LongCardsBlock">
        <div class="M_BlockSeparator">
            <div class="A_section_subtitle">
                <p>ОШИБКИ КИНЕМАТОГРАФА</p>
            </div>
            <div class="Q_Line cinema"></div>
        </div>
        <div class="W_two_cards">
            <a href="./films/film6.html" id="O_little_horizontal_card">
                <div class="Q_horizontal_oval_card_image princess"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                        СТАТЬ ПРИНЦЕССОЙ?
                    </div>
                    <div class="A_section_card_note">
                        уроки от Мии Термополис
                    </div>
                    <div class="M_tag_default">
                        <p>#светский этикет</p>
                    </div>
                </div>
            </a>
            <a href="./films/film2.html" id="O_little_horizontal_card">
                <div class="Q_horizontal_oval_card_image how"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                        НО КАК ЖЕ?!
                    </div>
                    <div class="A_section_card_note">
                        неточности в фильмах
                    </div>
                    <div class="M_tag_default">
                        <p>#антиэтикет</p>
                    </div>
                </div>
            </a>
            <a href="./films/film1.html" id="O_little_horizontal_card">
                <div class="Q_horizontal_oval_card_image madam"></div>
                <div class="W_CardText">
                    <div class="A_section_card_title">
                        ДА, МАДАМ
                    </div>
                    <div class="A_section_card_note">
                        топ-5 ошибок в фильмах
                    </div>
                    <div class="M_tag_default">
                        <p>#светский этикет</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Подвал -->
    <div id="O_footer">
        <div class="A_big_logo"></div>
        <div class="W_footer_text">
            <div class="A_footer_text students">
                <p>Дарья Любивая <br>Анастасия Ляч <br>Зеленкова Александра</p>
            </div>
            <div class="A_footer_text teachers">
                <p>Каем Софья <br>Комкова Анна</p>
            </div>
        </div>
        <div class="W_socialmedia_icons_hse_logo">
            <div class="W_socialmedia_icons">
                <div class="Q_Vk">
                    <a href=""></a>
                </div>
                <div class="Q_Tg">
                    <a href=""></a>
                </div>
            </div>
            <a class="Q_hse_logo" href="https://design.hse.ru/">
            </a>
        </div>
    </div>
</body>

</html>